[2017-10-05 10:07] attekei commented on #6102
I'm unable to reproduce this on PostgreSQL, Redshift and MySQL; on all those engines booleans area treated as `true`/`false` , not `0`/`1`. This also means that the custom remapping option isn't available for those fields (currently we only support number->string custom mappings).

@camsaul Is this a difference in how MariaDB and/or our MariaDB driver treats booleans compared to most other db engi

[2017-10-05 10:14] eladeyal-intel commented on #6102
@attekei I found that this behaviour is different for view vs table. For a boolean table (in MariaDB) i did not have custom remapping option in; but for the View I do.

[2017-10-05 10:20] attekei commented on #6102
@eladeyal-intel Ah gotcha, thanks for the clarification! So @camsaul the new question is that do we treat tables and views equally in our db drivers or are there some differences that can cause behaviorial inconsistencies like this?

Or is this just continuation to our earlier headaches with MariaDB? 😃

[2017-10-05 10:30] attekei commented on #6101
Hi @Bryze! Could you install yarn and try `yarn install && yarn run build` instead? We don't support `npm` anymore although I'm not completely sure if the error is related to that or not.

Note also that there are some issues with some frontend build commands on Windows, see https://github.com/metabase/metabase/issues/5214#issuecomment-304957501. The basic `yarn run build` should work, though!

[2017-10-05 10:37] attekei commented on #6100
I think this is related to https://github.com/metabase/metabase/issues/5594 and might be a regression caused by #5331 (binning strategies for date fields) in 0.26.0 release.

[2017-10-05 11:01] Bryze commented on #6101
Yes, tried it, but still the same error
![image](https://user-images.githubusercontent.com/10598701/31224202-9bcec5e8-a9ea-11e7-89c3-bc4cf80cee1e.png)

[2017-10-05 11:05] attekei commented on #6101
@Bryze Thanks! I think that the reason can be found here:
![screen shot 2017-10-05 at 14 02 08](https://user-images.githubusercontent.com/6034928/31224255-d80faf8c-a9d5-11e7-8e55-7ae7a9bd8c3e.png)

So Windows uses backslash and Mac uses slash as a directory separator and the build script gets confused because of that. I'll take a look on how to fix that.

[2017-10-05 11:07] attekei commented on #6086
I can't reproduce the failure locally or in CircleCI. I think that it is related to the timezones because that test respects the timezone of test environment (see https://github.com/metabase/metabase/blob/f6c92f06fcbb44c8874b5dcd5d0176a3f307df8a/frontend/test/visualizations/components/LineAreaBarRenderer.unit.spec.js#L12). Maybe we should override the timezone for that test so that it will behave

[2017-10-05 11:13] Bryze commented on #6101
@attekei That might be issue but, does it explain why is it searching in some different directory than intended?

[2017-10-05 11:18] lesiki commented on #6075
@senior thanks for giving this so much attention.

I'm now starting to wonder if we somehow switched between versions at some point, and if that could somehow affect migrations. I can't see how it could - my experience of liquibase is that you can happily skip versions and still have smooth migration, and if for any reason you go backwards, it just means the app crashes when the schema isn't as ex

[2017-10-05 11:44] attekei commented on #6101
@Bryze It does because the backslashes in that path are ignored and as a consequence the relative path refers to  different location than where it should be.

Trying to address this and potential other issues with `yarn run build` in #6103

[2017-10-05 11:47] lindsay-stevens commented on #6101
@Bryze I had exactly the same issue yesterday. It seemed like there's something weird going on in the css-loader part of webpack (line 121 of the webpack config), but I didn't come to enough of an understanding to fix it.

However, a workaround that worked was to make a symlink from where webpack (or whatever) ends up trying to look for node_modules, back to where they actually are. That is (run a

[2017-10-05 11:55] attekei commented on #6101
@lindsay-stevens

Yeah, sadly there are other development issues on Windows too. A Linux VM is a working option but it makes the development work remarkably slower. I'll try to get at least the basic stuff working in #6103 and will notify you here when that is ready.

[2017-10-05 14:39] senior commented on #5424
@trifle The PR you're referring to is a few months old. It was necessary to revert that as it broke Redshift and we needed to figure out a way to support both. Last week I merged in the update  https://github.com/metabase/metabase/commit/d23b26694056456cc370580841820dc4f55ae9a4 to both Redshift and PostgreSQL. It's not been released, but is currently on master.

[2017-10-05 14:39] fandomfilms commented on #6068
Downgrading resolved my issue

[2017-10-05 14:41] trifle commented on #5424
Thanks, that is very good to know! I could only find this issue and the reverted commit, hence my comment - but now there's a trail for others to follow :)

By the way, thanks for all your work on metabase - it's an incredible tool!

[2017-10-05 14:49] VikramTiwari commented on #6068
0.25.2 worked.
Upgraded to the latest and failed again. Seems like it's the same as #4246

![screen shot 2017-10-05 at 07 48 39](https://user-images.githubusercontent.com/1330677/31233521-b227d29c-a9a1-11e7-814c-73b314ec9db9.png)

[2017-10-05 16:21] dennisberlin commented on #6068
@camsaul unfortunately, the new build of 0.26.1 stopped working after a restart :( now back to 0.25.2 which works fine.

[2017-10-05 17:11] jornh commented on #6101
Depending on your Windows version you guys might have another option.

I’m on Windows 10 and I have it building nicely using WSL aka Bash on Ubuntu on Windows.

[2017-10-05 17:28] Bryze commented on #6101
@jornh can you reiterate the exact steps you used?

I think it has something to do with the underlying file system? I'm on a windows 10 as well and the screenshots are of the wsl bash

I don't know, probably yours might be a case of luck?

[2017-10-05 20:47] jburgueno commented on #3102
@moukat Hi moukat! would you mind sharing your Teradata Driver implementation here? I'm working on one my self and it would help if you could share what you have.

[2017-10-05 20:47] jburgueno commented on #3102
@moukat Hi moukat! would you mind sharing your Teradata Driver implementation here? I'm working on one my self and it would help if you could share what you have.

[2017-10-05 21:51] VikramTiwari commented on #4156
Seems like this is a regression in the latest version. cc @camsaul

[2017-10-05 22:00] VikramTiwari commented on #4156
@camsaul This could be a new issue. Here's what I see in logs:

During sync process:

[code]

While trying to access a saved question built using GA tables:
[code]

[2017-10-05 23:55] hagen commented on #5202
I get this too. There's some client side caching going on, that isn't invalidated on log out. If I log in as admin, pull up all databases, then log out and back in as ordinary user, I see admin dbs, but can't actually query them.

[2017-10-06 00:01] hagen commented on #5202
The other thing that we as users of metabase need to do is be 'way' more specific with our issues. Your issue reads:

But the actual problem is:

Not something we automatically know, but helps get right to the nub of the problem.

[2017-10-06 00:01] VikramTiwari opened #6104 "[Breaking] Unable to save or access questions based on Google Analytics"
- Your databases: Google Analytics
- Metabase version: 0.26.1
- Metabase hosting environment: Docker
- Metabase internal database: MySQL

- *Repeatable steps to reproduce the issue*
Create a question using Google Analytics as a non-admin user and try to save the question. Gives permission error.

[code]

More logs:
[code]

More details:

- Admin users can see the question fine
- The user which it'

[2017-10-06 00:13] hagen opened #6105 "Database tables aren't listed when building a question, without first going to Data Reference"
- Your browser and the version: Chrome Version 61.0.3163.100
- Your operating system: Win 10
- Your databases: AWS Aurora (MySQL)
- Metabase version: v0.25.2
- Metabase hosting environment: Elastic Beanstalk
- Metabase internal database: Postgres

- *Repeatable steps to reproduce the issue*
Log in
Go to New Question
Only relevant API call made is this one:
http://domain.tld/api/database?include_ta

[2017-10-06 02:59] thucnc commented on #2761
Hello @salsakran, I found this issue is closed, so is it fixed now ? this issue is critical to us, thanks.

[2017-10-06 03:02] thucnc commented on #5187
Hello @salsakran, the docjure library causing this issue hasn't been fixed yet, so we are still waiting for it ?

[2017-10-06 05:01] jornh commented on #6101
Yes, @Bryze looking at your second screenshot I now see the `$` prompt.

Not sure I’m able to give an exact step by step guide, it’s been a while since I installed and I struggled a but with getting yarn installed correctly. But looking above I spot a few differences:

- The Windows paths from your NPM run above suggests to me that you have the tooling installed as Windows versions. Is that correc

[2017-10-06 05:33] Bryze commented on #6101
@jornh  Yes, you're correct. Those are windows installations. I had some of the requirements already installed. So, I guess that might be the issue. The `.msi` installers might be the issue then. But, if that's the case, then all programs installed via executables, might have backward slashes in their path?

[2017-10-06 10:45] lloonngg commented on #6056
I am experiencing the same problem.  I was able to connect to a SQL Server endpoint using the Metabase v0.25.2 docker image without any specified connect parameters.  The same connection does not work with the v0.26.1 docker image.

[2017-10-06 12:53] guilhermecgs opened #6107 "Running demo"
Hi Folks,

Is there a running demo where I can see all the functionalities working together?

[2017-10-06 13:20] synox opened #6108 "Deleted columns still being shown in PostgreSQL metadata."
We renamed a column in a simple table without foreign keys. Now the question shows the error:

    ERROR: column accounts.nach_pb_bezeichnung does not exist Hint:
    Perhaps you meant to reference the column "accounts.nach_bp_bezeichnung". Position: 2374

 - Metabase version v0.26.1, Built on 2017-09-26
- Postgresql: version 9.5
- Metabase hosting environment: Dockerfile on rhel 8 with Openshift

[2017-10-06 14:14] senior opened #6110 "Update Presto docker container to include the "test-data-with-time" dataset"
Each test dataset defined in our test suite needs a catalog setup in presto, which is baked into the docker container via a [property file](https://github.com/wwwiiilll/presto-mb-ci/tree/master/etc/catalog). A new property file needs to be added for the new `test-data-with-time` dataset which includes time fields needed for testing out data with that data type. Once this fix goes in https://github

[2017-10-06 14:16] mvrabel commented on #5299
Hi @camsaul @attekei,
Is there any update on this issue ? :)

[2017-10-06 14:17] senior opened #6111 "Presto tests should be refactored to use a single catalog"
Currently when we define a new dataset in our test code, that dataset needs to be followed up with a PR [here](https://github.com/wwwiiilll/presto-mb-ci/tree/master/etc/catalog) and a subsequent update to the docker container. Looking at the Presto docs, it seems like we could just swap our usage of catalogs for schemas and we'd get the same level of isolation in our tests and also gain the abilit

[2017-10-06 14:25] senior commented on #6111
@wwwiiilll have any opinions on this issue? Seems like from a maintenance perspective this would be an improvement over what we have now.

[2017-10-06 14:26] friulchingo opened #6112 "Admin Panel/DataModel - console error "Uncaught (in promise) field with ID does not exist: 56""
Hi,

I broke Metabase. Please, help me.

When going to Admin Panel -> Data Model and selecting a specific database and a specific table (all the other tables and databases connected to metabase don't have this problem), I can't perform any operation due to "Uncaught (in promise) field with ID does not exist: 56" as shown in the Browser's console.

Here's a video in .gif format showing what's going

[2017-10-06 16:14] lhriley opened #6114 "SSH tunnel timeout on Docker"
Metabase fails to establish an SSH tunnel properly, and times out when attempting to connect to the remote database.

- Your browser and the version: Chrome Version 61.0.3163.100 (Official Build) (64-bit)
- Your operating system: Linux Mint 18.2
- Your databases: MySQL, Postgres
- Metabase version: 0.26.1
- Metabase hosting environment: Docker
- Metabase internal database: H2 (default), MySQL

Ste

[2017-10-06 16:15] kdoh commented on #6107
Hi @guilhermecgs. We don't currently have a running online demo up anywhere, but we've worked pretty hard to make it easy to get Metabase set quickly if you want to give it a spin. I'd recommend either the Mac app or spinning up a quick Heroku instance if you're interested in seeing how things work. Both are available over at https://metabase.com/start

[2017-10-06 16:15] #6107 closed

[2017-10-06 16:22] LukeAbell commented on #5841
@camsaul Any movement on this?

[2017-10-06 17:44] zejji commented on #6114
I am having the same issue.

I am attempting to connect to a database (localhost port 3306) on a remote server accessed via SSH on port 222. It is definitely not a firewall issue as I have no issues connecting to the database manually through the Docker container as follows:

- docker exec -it metabase bash
- apk update
- apk add openssh
- ssh username@hostname -p 222
- mysql -u mysqlusername -p

[2017-10-06 17:52] camsaul commented on #5841
@LukeAbell not yet. Unfortunately we're a pretty small team so we can't fix every bug as fast as we'd like. But if you have an idea for a fix we'd love a PR

[2017-10-06 18:05] salsakran opened #6115 "Timeseries mode should default to a line chart"
Right now it defaults to a table view.

[2017-10-06 18:12] camsaul commented on #4156
@VikramTiwari those errror messages during database sync are should really just be warnings, so you can ignore them. They're almost certainly unrelated to the issue you're having. Either way I'll take a look at it

[2017-10-06 18:17] #4161 closed

[2017-10-06 18:25] VikramTiwari commented on #4156
Yeah! I thought so. That's why I opened up another issue.

[2017-10-06 20:29] wwwiiilll commented on #6111
Moving everything all to a single catalog would definitely make things easier to manage Presto-wise.

An other option would be to generate the list of catalogs with the startup script in the container, an ENV var could be passed to tell Presto which names are needed.

Mounting a folder with the files from somewhere in this repo is also an idea (assuming CircleCI allows it).

[2017-10-06 20:42] bcherry commented on #4267
we've just installed metabase and started building dashboards with it and a lot of these things have come up within the first week.

- sum totals along the top of bar charts (stacked and unstacked)
- bar chart and area/line chart in same graphic (to show % change month/month)
- automatic computation of % change on time series data (it's not hard to do with `lag` but it is a bit of work to copy/pas

[2017-10-06 21:54] rafaheringer commented on #5571
Exactly same error here :(

[2017-10-06 23:28] camsaul commented on #6068
Good news @dennisberlin @VikramTiwari @fandomfilms @dennisberlin. I think I got to the bottom of the issues with the Mac App. I uploaded a new build here:

http://downloads.metabase.com/v0.26.1/Metabase-0.26.1.1.dmg

if you guys could give it a try and let me know if launches without problems for you, that would be great. If it doesn't, I added some code to make the last few log messages show up o

[2017-10-06 23:32] camsaul commented on #5126
This is actually the same issue as the one we're discussing in #6068, so I'm going to close this as a duplicate. @CarolHsu check out #6068, I posted a link to a new build of 0.26.1 that I think should resolve the issues you're seeing.

[2017-10-06 23:32] #5126 closed

[2017-10-06 23:42] camsaul commented on #5809
This is actually as simple as changing the "OS X Deployment Target" setting for the project in Xcode.

[2017-10-07 00:06] VikramTiwari commented on #6068
Confirming that this worked fine. Thanks! 👍

[2017-10-07 00:06] #6068 closed

[2017-10-07 00:48] mikeroelens commented on #1623
Are there any plans for implementing a fix? The query builder is absolutely amazing, but because of this issue I can rarely use it and that makes me sad.

[2017-10-07 07:07] SuryaSankar commented on #5927
Facing the same issue.

Server is in UTC
Metabase Timezone = Asia/Calcutta

I need a query to find the number of carts which were checked out today. When I set up a Question for the same via GUI, I get the answer as 10.
But I can see from our internal dashboard that 15 carts were checked out today. On viewing the generated sql, I can see that it does not have any convert_tz offset specified in it.

[2017-10-07 13:40] alirezastack opened #6117 "Why records returned while it is not between the provided date?"
My query condition is as below:
![screen shot 2017-10-07 at 6 42 48 pm](https://user-images.githubusercontent.com/6417083/31309206-5ad2725a-ab8f-11e7-897e-464e7d8230ec.png)

My timezone is set to `Asia/Tehran` and all dates are in `UTC`. Now there are records returned from `22nd of Aug.` while my date range is just for `23rd of Aug` (start and end is set to the same date just to limit my response

[2017-10-07 13:59] lloonngg commented on #6056
Could it be related to this post?

https://github.com/metabase/metabase/issues/6069

I tried including the forward slash in the host field and got a different error:  timeout after 5000 millisecond error.

[2017-10-08 10:58] strong84 opened #6119 "Custom fields is not shown when adding groupby columns."
Custom fields is now shown when adding groupby columns.

### Bugs
If you're filing an issue about a bug please include as much information
as you can including the following.

- Chrome 61.0.3163.100
- Linux
- MySQL
- Metabase 0.26.1
- Metabase hosting environment: Linux
- Metabase internal database: (e.x. H2 (default), MySQL, Postgres)

- Repeatable steps to reproduce the issue:
create a custom fi

[2017-10-08 12:17] und3fined opened #6120 "Metabase doesn't work with PostgreSQL 10"
### Bugs
- Your operating system: `Linux`
- Java version: ```java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)```
- Metabase version: `0.26.1`
- Metabase hosting environment:   `Red Hat Enterprise Linux Server release 7.4 (Maipo)`
- Metabase internal database: `PostgreSQL 10.0 on x86_64-pc-linux-gnu, comp

[2017-10-09 02:01] mknippen commented on #2328
Is this still a possible feature? +1

[2017-10-09 08:42] goodfella1408 commented on #5775
PFA a patch on master for fixing this . Cant push commits to bug fix branch on metabase project .Please give me the permission (user - goodfella1408) so that I can raise a PR -
git push origin issue-5775
Username for 'https://github.com': goodfella1408
Password for 'https://goodfella1408@github.com':
remote: Permission to metabase/metabase.git denied to goodfella1408.
fatal: unable to access 'http

[2017-10-09 08:49] goodfella1408 commented on #3847
I am planning to work on this feature (basically putting the download widget thats available on questions , in questions on dashboards too ).I am assuming that since download feature is available in questions - it should be possible/not very hard to put the same download widget in questions added on a dashboard  . Please let me know if that is not the case .

[2017-10-09 09:28] jescorotero opened #6125 "Export from unsaved queries is not working"
Hi
When we try to export from "saved" queries, we have not issues, but when trying to export from "unsaved" queries, it doesn't export and an error is shown.

For example, we have some saved queries  working as datasource.  Then using navigation we use "Analyze the results of this query"" and we do some filters and groupings.  The result is right and we would like to export but we don't need to sa

[2017-10-09 10:14] thucnc commented on #4644
I got the same error on V0.26.0

[2017-10-09 11:12] lesiki commented on #6075
I've managed to get my db & migrations back in sync.

I reviewed the liquibase migrations in the 0.26.1 tag, and saw that I was about 15 migrations behind according to the databasechangelog table. The errors being reported on startup was that some migrations were missing even though their schema changes had already been done, so I compared the changes introduced in each migration (50 - 66).

I not

[2017-10-09 11:36] alirezastack commented on #6045
Is there any plan for the issue to get fixed?

[2017-10-09 13:31] JAC2703 commented on #6029
+1 I just came across this today when connecting to a large Oracle instance (large in table count).

[2017-10-09 13:41] monitaure commented on #6085
Got the same issue, it seems to be just a warning that will be fix in a future version, see https://github.com/metabase/metabase/issues/6080#issuecomment-333535615

[2017-10-09 15:02] esaiekuitche opened #6126 "MomgoDB stop running"
Hi dears,
 I'm starting using MongoDB for my company, all was working fine until I wasn't longer able to connect to MongoDB.
I got these the two errors when I execute the commands mongo and MongoDB

[code]

When I look the last lines of the log file I see this:
[code]

Can you help me please? I did'nt find solution still now.

Thanks you.

[2017-10-09 16:46] CherylEveritt commented on #5233
We would also love to see improvements to the column naming. Is there any plan to include this in the near future?

[2017-10-09 17:50] kdoh commented on #5169
Was fixed in #5882

[2017-10-09 17:50] #5169 closed

[2017-10-09 18:03] camsaul commented on #6126
@esaiekuitche those log messages seem to suggest that your MongoDB process is shutting down and restarting, which is why Metabase can't connect to it. Unfortunately if this is an issue with your Mongo process there's not a whole lot Metabase can do about it...

I'd suggest trying to get to the bottom of the Mongo issues first, and then verify you can connect with something else like the `mongo` co

[2017-10-09 19:32] wjoel commented on #2157
@cgivre and others: It's been a while, but if you're still interested, here's what I hope to be very close to the final version: https://wjoel.com/files/metabase-sparksql-drill-2017-10-09.jar

I would be very grateful if you could try it out and let me know how it worked out. As indicated by the filename, this is for Spark SQL and Drill. While it should be easy to support Hive by using the Spark S

[2017-10-09 20:44] jonatasfreitasv commented on #3002
+1

[2017-10-09 21:40] camsaul commented on #3002
Hey everyone, one way we prioritize issues is by sorting them by the number of 👍 reactions on each issue's description. So instead of leaving `+1` or 👍  comments, please just upvote by adding a reaction to the issue description.

[2017-10-09 23:03] kdoh commented on #4887
I'm going to close this (even though it was filed first) since it's the same issue as #5583 and there's a bit more of a discussion thread over there.

[2017-10-09 23:03] #4887 closed

[2017-10-10 02:17] niparis opened #6133 "One table has 59 columns missing out of 72 in metabase"
Our main user table has 72 columns.

Since updating to the latest version of Metabase, we can only see 13 columns in Metabase.

- It's still possible to query those "missing columns" from Metabase using the SQL interface
- Those 13 columns are the most recent columns added to the table.
- We've tried using the "Sync database schema now" and "Re-scan field values now" with no results.

**Environmen

[2017-10-10 03:09] ujjwal-gupta opened #6134 "Data export/download fails for size greater than 16MB in MongoDB"
- Your databases: MongoDB
- Metabase version: 0.24.2
- Metabase hosting environment: Elastic Beanstalk
- Metabase internal database: MySQL

- *Repeatable steps to reproduce the issue*
Create large mongo collection (size > 16MB) and try to download csv/xlsx/json. Following error is thrown:

Command failed with error 16389: 'aggregation result exceeds maximum document size (16MB)' on server. The ful

[2017-10-10 03:53] hagen commented on #6105
Additionally, this could just be an API issue, as this URL:
_http://domain.tld/api/database?include_tables=true_
does not return tables in the database.

[2017-10-10 04:17] mknippen commented on #3251
+1

[2017-10-10 06:45] joklee commented on #6056
No and works with v25.2 fine.
We use this database into a application with the official Microsoft JDBC driver, too.
We have no domain user.

[2017-10-10 10:11] oliviersaintgobain commented on #5581
Hello, I'm sorry to introduce in this ticket, but I would like to know how you manage the aggregation view ?
I have a json field, added manually in the table reference, but there is no option when I want to group by...
it seems that it does not recognize json field

thanks a lot

[2017-10-10 11:47] sabino commented on #4432
Hey @camsaul!
Will you see this anytime soon?

[2017-10-10 12:11] oliviersaintgobain opened #6135 "mongodb - field containing JSON"
Hello,
we are working on a dashboard on a MongoDB database (v 3.4.7)
I'm using the last (docker today install) version of metabase.

My request is more an help to know how I can read a JSON field in one of my table.

Actually, I would like to run a query wich show the number of download by my clients.
I have 1 row by client (id of my table), and for each one, I have a field containing JSON (I have

[2017-10-10 12:17] ArghyaSarkar commented on #1373
+1

[2017-10-10 14:48] cgivre commented on #2157
Hi Joel,
Awesome!  I’ll give it a try and report back early next week.
—C

[2017-10-10 15:12] bendem commented on #4509
Hi there, I just found this issue and I think my problem fits the current discussion.
Many of our queries are built build joining our tables to
[code]

From a user PoV, I'd love to be able to have something like
[code]
and mark the range variable as a date range.

[2017-10-10 17:27] camsaul commented on #4432
Hi @sabino this hasn't been a high priority issue for us since switching would take a bit of work and probably wouldn't fix anything for our users. Why do you ask?

[2017-10-10 17:51] nickhamlin commented on #798
+1, would love histograms!

[2017-10-10 19:01] camsaul commented on #798
Hey everyone, one way we prioritize issues is by sorting them by the number of 👍 reactions on each issue's description. So instead of leaving `+1` or 👍  comments, please just upvote by adding a reaction to the issue description.

[2017-10-10 19:19] camsaul commented on #1373
Hey everyone, one way we prioritize issues is by sorting them by the number of 👍 reactions on each issue's description. So instead of leaving `+1` or 👍  comments, please just upvote by adding a reaction to the issue description.

[2017-10-10 19:46] camsaul commented on #6102
Tables and views should be treated the same. We ask the JDBC drivers for a list of Tables and Views and most of them work as expected but it might be the case that MariaDB is not doing what we ask.

It's possible that it's not working because we're using the MySQL driver instead of MariaDB. It seems like they're taking the fork in an increasingly different direction from MySQL. In #2581 we've disc

[2017-10-10 19:54] mazameli commented on #798
@nickhamlin and everyone else who was interested in histograms: the latest version of Metabase includes histograms in GUI-created questions. Just break out an aggregation by a continuous numeric field, and choose the Bar visualization:

<img width="1404" alt="screen shot 2017-10-10 at 12 07 23 pm" src="https://user-images.githubusercontent.com/2223916/31405381-be97948e-adb3-11e7-8237-ab6f524a4f45.

[2017-10-10 20:04] mazameli commented on #6101
@Bryze, you originally said:

What visualization type are you trying to develop?

[2017-10-11 02:24] Bryze commented on #6101
@mazameli I was thinking of a venn diagram visualisation. Where you can query the intersection points, and it relatively changes the size of the circles.

[2017-10-11 07:57] christamlyn-bridge opened #6143 "Persist user selected colours on Bar Charts"
We use Bar Charts on a Dashboard with a number of Series and Columns.  We set the colours of the Series to represent the item (e.g. red=error, green=good) etc.

As the data updates, if a series returns null or zero its removed from the chart as expected.  On the next refresh when there is data in the series again, the colours have all gone back to their default.

It would be useful if the user sel

[2017-10-11 10:06] attekei commented on #6101
I tested the development workflow on Windows 10 (version 1703) with WSL and didn't have any issues. On my setup I cloned the repository and installed all dependencies inside Bash. I worked inside my Windows user directory because I wanted make sure that there are no problems with file system interoperability.

I will add a section to Developer's Guide about Windows development and emphasize there

[2017-10-11 10:17] Bryze commented on #6101
@attekei  Alright, I'll set it up again using WSL. Thank you for your time :)

[2017-10-11 11:11] DmitriyPavluchenko opened #6145 "support redis"
Tell the novice how to do support for the redis database. I need to have access to it as to any of the currently supported databases.

[2017-10-11 11:11] bholemt commented on #2157
Thanks so much. Is it possible to add HTTP transport mode option? The JDBC driver supports it.

[2017-10-11 12:37] Globegitter opened #6146 "Deleted table column not updating in metabase schema"
- Your browser and the version: Firefox 57.0b7 (64-bit)
- Your operating system: elementary OS 0.4.1 (built on Ubuntu 16.04.3)
- Your databases: Postgres
- Metabase version: 0.26.1
- Metabase hosting environment: Kubernetes Helm Chart
- Metabase internal database: Postgres

If I remove a column in a table from a database that is synced with Metabase, I see that this column is still showing up even

[2017-10-11 13:16] abhiCR7 opened #6148 "MySQL DB Migration issue"
I'm running Metabase in developer mode.
Before deploying to production we are moving the data to MySQL.
Following exports were done:
`export MB_DB_TYPE=mysql`
`export MB_DB_DBNAME=metabase`
`export MB_DB_PORT=3306`
`export MB_DB_USER=root`
`export MB_DB_PASS=<password>`
`export MB_DB_HOST=localhost`
I ran the following command:
`java -jar target/uberjar/metabase.jar load-from-h2 <path to h2 file>`

[2017-10-11 14:20] rysloan4 commented on #3960
+10

[2017-10-11 14:37] trifle commented on #6120
This will supposedly be fixed by https://github.com/metabase/metabase/commit/d23b26694056456cc370580841820dc4f55ae9a4 which is in master but not yet in a release.

[2017-10-11 16:08] mazameli commented on #6143
Agreed, though this is a duplicate of #5910

[2017-10-11 16:08] #6143 closed

[2017-10-11 17:14] CherylEveritt opened #6149 "Grouped By and Filtered By Lists not showing all available fields"
I am designing a question using the metabase question builder (not using custom sql).

I would like to group by user_id, which is a string field in my underlying data table (BigQuery is the data source).

However, user_id is not showing in the list of fields available for Group By.  Nor is it showing in Filtered By.

In the data model, the field is set to be visible everywhere.  It is also set as

[2017-10-11 21:34] wjoel commented on #2157
@bholemt you can try just appending `;transportMode=http` (including the semi-colon) to the end of the "Database name" field. It's just passed through to JDBC so I think it might work. Maybe we should use an explicit connect string instead, though.

[2017-10-12 00:40] jackolicious commented on #3948
Please please please... turning off friendly field names should turn off friendly field names. End of story. If I want to make them friendly, I can turn that on or manually configure the display names in the data model configs.

It makes query writing a huge pain.
It makes understanding tables a huge pain.
It makes our internal data seem inconsistent.

[2017-10-12 01:51] flashput opened #6152 "Performance issues with Data Reference Page"
![image](https://user-images.githubusercontent.com/11661814/31475211-2fb862d0-aec5-11e7-92e0-f86f2c4d45d3.png)

with large  database/schemas (say contains 10000+ tables), visiting "Data Reference" may become extremely slow, metadata request could get too much from server api.

[2017-10-12 02:30] VikramTiwari opened #6153 "Weekly grouping with inconsistent data"
Metabase version: 0.26.1, On all platforms

When you make a query with weekly grouping, the result is shown with date ranges for the week. But as soon as you put it on a dashboard, it changes to week number.

Preferred: Show date ranges for the week on dashboards as well.

![screen shot 2017-10-11 at 19 26 35](https://user-images.githubusercontent.com/1330677/31476267-75028c54-aeba-11e7-8d01-cf89e

[2017-10-12 05:40] bholemt commented on #2157
@wjoel thanks that worked. I cannot see temporary tables I registered in my spark context. Is it hidden on purpose? Can it be enabled?

[2017-10-12 09:13] rthouvenin commented on #4122
Any chance that this issue is looked at soon? If not enough support from the community, can someone point me to the relevant places in the code so I can give a try?

[2017-10-12 09:23] bholemt commented on #2157
The following query is being issued - show tables in `null`

[2017-10-12 09:37] eladeyal-intel opened #6155 "Can't update DB after column rename/delete"
- browser : Chrome 61 on Windows 10
- BS: MariaDB
- Metabase version: 0.26.1
- Metabase hosting environment: Docker
- Metabase internal database: Postgres

may be the same as #6146, #6108

Create a MariaDB View or a table TTTT  (I've seen the problem with both, I think, see below. I caould not narrow this down.)
TTTT has multiple fields, among them a field FFFF. FFFF is an INT, foreign key to anot

[2017-10-12 11:21] wjoel commented on #2157
Could you please show me a command that lists your temporary tables and
their column names and types using beeline from the Spark distribution?

On Thu, 12 Oct 2017 at 11:23, Abhijit Bhole <notifications@github.com>
wrote:

[2017-10-12 11:24] bholemt commented on #2157
This is the output from beeline -

0: jdbc:hive2://10.0.2.133:15002/default> show databases;
+---------------+--+
| databaseName  |
+---------------+--+
| default       |
+---------------+--+
1 row selected (0.65 seconds)
0: jdbc:hive2://10.0.2.133:15002/default> show tables;
+-----------+----------------------------+--------------+--+
| database  |         tableName          | isTemporary  |
+---

[2017-10-12 12:33] monitaure commented on #6155
:+1: just found that I've got the same problem, with the same errors after a rename of column.

@eladeyal-intel thanks for the _"Hidden"_ visibility, I can get the raw data too.

[2017-10-12 13:08] sergeiGKS opened #6158 "Field Filter dropdown is incomplete"
I have a field filter on a table that has more than 40 rows. When adding a filter value, users see a dropdown with the first ~15 values that appear in the table. Is this the expected behaviour or is something wrong?

##I am using
- browser: Chrome Version 61.0.3163.100
- operating system:  Windows 7
- Database: Postgres,
- Metabase version: v0.24.2

[2017-10-12 14:40] jaredlt commented on #5470
I can reproduce this issue on Chrome 61. Have tested in a new Chrome profile to rule out extensions being a factor.

Edge and Firefox 56.0.1 work as expected and show the horizontal scroll bar.

[2017-10-12 15:22] Jyggafey commented on #6133
We have a similar? issue with Postgres 9.6 on 0.26.1
For two of our tables we get the following log WARN output:
[code]

The Query Builder UI has no filter or group functionality for those Tables because the query_metadata json response contains fields: []

[2017-10-12 15:27] mazameli commented on #6158
If you upgrade your metabase instance to the latest version (0.26.1) this issue should be fixed. We overhauled the way we do field values caching.

[2017-10-12 15:27] #6158 closed

[2017-10-12 15:51] senior commented on #6110
Just verified locally, the change is in and I'm able to run tests with the new dataset.

[2017-10-12 15:51] #6110 closed

[2017-10-12 16:52] sabino commented on #4432
We are currently migrating our data to BigQuery and the only possible solution, as a workaround, is to create one schema and lots of views pointing to outside schemas (or dataset as google calls them). But that's not a great nor a pretty solution.

By using JDBC or listing all schemas from BigQuery, we could use it without having to worry about the structure (and make Query Builder available for a

[2017-10-12 17:30] salsakran commented on #6152
dupe of #5106

[2017-10-12 17:30] #6152 closed

[2017-10-12 18:44] esaiekuitche commented on #6126
@camsaul thanks you for your clue. Effectively my problem was in MongoDB. I fixed it and metabase works properly.

[2017-10-12 18:44] #6126 closed

[2017-10-12 18:52] joevandyk opened #6160 "Weird capitalization of column names"
I'm using Metabase 0.26.0 on a postgresql 9.6 database.

http://take.ms/UYHY5 is the query I'm using.

I would expect the column name to be "Sku Vendor Name", not "Sk U Vendor Name".

[2017-10-12 19:14] mazameli commented on #6160
This is the infamous "Friendly field names" behavior, which is a setting you can turn off in the Admin Panel under the general settings tab.

This wouldn't work in your specific case, since you're using an alias, but you can also manually correct table and field names in the Data Model section of the admin panel if you don't want to turn Friendly Field Names off entirely.

[2017-10-12 19:14] #6160 closed

[2017-10-12 19:51] joevandyk commented on #6160
Right.. but I can't understand why "sku_vendor" would get turned to "Sk U Vendor" in the first place if the software is trying to be friendly. That sounds like an unfriendly field name behavior.

[2017-10-12 19:51] adjenks commented on #3656
Oh, this was a problem for me but I guess the change just isn't reflected yet in the java jar release...
200 is reasonable I suppose.

[2017-10-12 20:00] that0n3guy opened #6161 "[bug] Not all filters visible on questions."
Description:
Filters are hidden from view (can not be seen, but still work) on question with more than 2 filters.

### Bug
- Your browser and the version: Chrome 61.0.3163.100 (Official Build) (64-bit)
- Your operating system: Windows 10
- Your databases: Mysql
- Metabase version: v0.26.1
- Metabase hosting environment: Docker
- Metabase internal database: Mysql

*Repeatable steps to reproduce the

[2017-10-12 20:06] mazameli commented on #6161
Yeah, dupe of https://github.com/metabase/metabase/issues/5470

[2017-10-12 20:06] #6161 closed

[2017-10-12 21:43] wjoel commented on #2157
@bholemt I have some ideas, but they will have to wait until the weekend. By the way, how did you create your temporary tables? When I create a globalTempView in a HiveContext it ends up in a `global_view` "database" and when I use `create temporary view` from beeline it gets created in a null/empty string "database".

[code]

[2017-10-12 22:14] bholemt commented on #2157
:) To trace the source of null, I created a Spark session extension to override the database column value returned by show tables command, such that it returns 'default' even in case of temporary tables. But even then the null value is getting picked up from somewhere.

[2017-10-12 22:25] zzazang commented on #1451
ko_KR HERE! ^^

[2017-10-13 03:19] hagen opened #6163 "Can't delete card from Dashboard"
- Your browser and the version: Chrome Version 61.0.3163.100
- Your operating system: Win 10
- Your databases: AWS Aurora (MySQL)
- Metabase version: v0.25.2
- Metabase hosting environment: Elastic Beanstalk
- Metabase internal database: Postgres
- Repeatable steps to reproduce the issue
Go to saved dashboard. Edit. Delete Card. Save.
Save button switches to 'Save Failed'.
API call was this:
DELET

[2017-10-13 03:42] parisholley opened #6164 "Support custom expressions when using saved question"
trying to work around not being able to rename columns (sum_1, sum_2, etc) by using a custom expression when creating a new question using build that pulls data from a saved question, the option is not available.

[2017-10-13 08:36] jescorotero opened #6165 "Add "Custom List" as Variable type"
Hi
It would be interesting and very easy to implement having a new "Custom List" option for variable types.
Now we have "Text" and the user has to write keyword .  Then we have "Field Filter", that lets user choose between "all" field values.  But what if I don't wanna display "all" values but only certain ones.

For example, we have to build 2 Questions:  "calls by agent by department A" and "cal

[2017-10-13 16:26] that0n3guy opened #6166 "No Time selection (day/month/etc...) on nested queries in "groupby""
This is similar to https://github.com/metabase/metabase/issues/5938 but with dates.

- Your browser and the version: (Version 61.0.3163.100 (Official Build) (64-bit)
- Your operating system: Windows 10 pro
- Your databases: MySQL
- Metabase version: 0.26.1
- Metabase hosting environment: docker
- Metabase internal database: MySQL

### Repeatable steps to reproduce the issue
- create new question u

[2017-10-13 16:52] ebalgava commented on #5246
I'm having same issue with shifted date labels in charts:
https://bi.ekosystem.slovensko.digital/public/dashboard/86ce303c-05bf-4947-bb39-d2a958208492
@salsakran anounced 'this should be fixed in 0.26' but my issue still persists within v0.26.1:
https://github.com/metabase/metabase/issues/3642#issuecomment-332653232

[2017-10-13 16:59] ebalgava commented on #5916
I'm having same issue with shifted date labels in charts:
https://bi.ekosystem.slovensko.digital/public/dashboard/86ce303c-05bf-4947-bb39-d2a958208492
@salsakran anounced 'this should be fixed in 0.26' but my issue still persists within v0.26.1:
#3642 (comment)

[2017-10-13 20:03] kgeis opened #6167 ""Using embedding" section has broken link to license"
In the v0.26.1 admin panel, there is a section about embedding Metabase in other applications. There is a link from there to http://www.metabase.com/license/embedding, but that URL results in a 404.

[2017-10-13 20:29] dannyeuu commented on #5462
How this feature is going? How can I use GA to tracking dashboard page view?

PS: It's a duplicate issue for this #5570 ?

[2017-10-13 20:55] AlexGroves opened #6169 "Field filter options not available"
Field options below the Variable Type (when Field Filter is chosen) never appears.  I've tried with a variety of tables and variable types and nothing seems to work.  This was a problem in a previous version of Metabase so we upgraded to 24.2 and that did not fix the problem either.  If it could possibly make a difference, this version is running in a VPN.

![image](https://user-images.githubuserc

[2017-10-13 21:01] mazameli commented on #6169
Hmm, Metabase v0.24.2 is still two major versions behind the latest. I'd start with upgrading to 0.26.1.

[2017-10-13 22:26] mazameli opened #6170 "Spec for entity menus"
We're going to consolidate and standardize a bunch of the "top-right" icons and actions on question detail, dashboard detail, collection detail, and data reference detail pages. Menu components were implemented in https://github.com/metabase/metabase/pull/6162

Details for each page and state's buttons and menu items are as follows:

## Saved question page
**1. Edit menu:**
- [edit document icon]

[2017-10-13 22:31] AlexGroves commented on #6169
True, however we have a separate installation of Metabase v0.24.2 and the Field drop down works, which makes me suspect it is not a version issue.

[2017-10-13 22:34] mazameli commented on #6169
I'm not sure if I understand. You're saying you have two separate instances of Metabase, both running v0.24.2, and one of them has this issue but the other doesn't? I still think the place to start is to upgrade to 0.26.2, because we've closed a ton of bugs since 0.24.2 was released.

[2017-10-13 22:41] AlexGroves commented on #6169
Yes, we've installed Metabase for two separate customers.  It works for one and does not for another.

We'll have a go at upgrading both again to the latest version.  Hopefully that solves the problem.

[2017-10-14 01:04] witwall opened #6172 "Don't know how to map column type 'citext'"
- Your browser and the version: (e.x. Chrome 52.1, Firefox 48.0, IE 10)
Chrome Version 61.0.3163.100 (Official Build) (64-bit)
- Your operating system: (e.x. OS X 10, Windows XP, etc)
OS X 10
- Your databases: (e.x. MySQL, Postgres, MongoDB, …)
Postgres
- Metabase version: (e.x. 0.19.3)
10
- Metabase hosting environment: (e.x. Mac app, Elastic Beanstalk, Docker, Heroku, Linux/Ubuntu 12)
Mac app
-

[2017-10-14 02:06] applepipe opened #6173 "SSH tunnel timeout configurable"
Please make the ssh tunnel timeout configurable

[2017-10-14 04:49] joevandyk commented on #6160
@mazameli is this something that could be fixed in the "Friendly Field Name" code?

[2017-10-14 06:10] atapatel commented on #1708
+1 for this features...

[2017-10-14 17:49] wjoel commented on #2157
@bholemt I've reworked the way SparkSQL deals with "databases", treating them as schemas instead (SparkSQL databases are really closer to what most SQL databases call schemas). It includes support for empty databases/schemas, so temporary tables work as expected. Please try this version: https://wjoel.com/files/metabase-sparksql-drill-2017-10-14.jar

Your nice hack with overriding the database col

[2017-10-15 02:53] on99 commented on #2342
Please note that Chinese characters are also not rendered correctly.

![image](https://user-images.githubusercontent.com/13196393/31581179-0bc13d46-b197-11e7-91b5-d114a37f1120.png)

[2017-10-15 02:59] on99 commented on #2027
![image](https://user-images.githubusercontent.com/13196393/31581198-ae525eaa-b197-11e7-982d-69c99b1111c9.png)

Seems like it's not resolved yet, I am using the latest metabase (v0.26.1). The *box* should be some Chinese characters.

[2017-10-15 03:07] on99 opened #6174 "Metabot not render image with Chinese characters correctly"
The issue may duplicate #2032 #2027 #1796 #1730 but all those are closed or resolved.
However it does not work for me.

- Browser: Version 61.0.3163.100 (Official Build) (64-bit)
- OS: macOS Sierra
- Database: MySQL
- Metabase: 0.26.1
- Metabase hosting environment: docker
- Metabase internal database: MySQL

![image](https://user-images.githubusercontent.com/13196393/31581244-075ad544-b199-11e7-8

[2017-10-15 03:44] on99 opened #6175 "X-ray throws exception Non-terminating decimal expansion; no exact representable decimal result"
### Bugs
X-ray **int**, **decimal** columns throws exception but **float** won't.

- Browser: Version 61.0.3163.100 (Official Build) (64-bit)
- OS: macOS Sierra
- Database: MySQL
- Metabase: 0.26.1
- Metabase hosting environment: docker
- Metabase internal database: MySQL

#### Steps to reproduce:

data table schema and data:
[code]

in metabase

* save a question ***sum(i) by created_at (hour)***

[2017-10-15 04:57] tongnk commented on #5194
Would really love this feature. Save so much time in defining a key set of metrics we can use throughout queries...

[2017-10-15 06:42] bholemt commented on #2157
This is really awesome!! Thank you so much. I was experimenting Spark SQL to provide SQL access on our multi tenant setup. Using temporary tables helps me define custom schema and enforce tenant separation reliably. Using with Metabase makes it really awesome solution. I want to try to also send primary and foreign key relationships with describe table command. Lets see if I can hack that :D Again

[2017-10-15 13:36] gilhs commented on #6165
In #5245 I suggested pretty much the same thing.

[2017-10-15 15:53] eladeyal-intel commented on #6155
I tried to enable all debugging vie log4j.properties but does not get a lot of more information:

10-15 18:49:12 ←[1mINFO sync.util←[0m :: STARTING: Sync metadata for mysql Database 2 'Data'
10-15 18:49:20 ←[1mERROR sync.util←[0m :: Error syncing FKs for Table 29 'VVVVVV': SHOW VIEW command denied to user 'XXXXX'@'YYYYYY' for table 'VVVVVV'
("driver.generic_sql$describe_table_fks.invokeStatic(gene

[2017-10-15 21:27] kdoh commented on #5412
Closing this as we migrated to Webpack 3 in #6147.

[2017-10-15 21:27] #5412 closed

[2017-10-15 22:19] kdoh commented on #5532
This was fixed in #5534.

[2017-10-15 22:19] #5532 closed

[2017-10-16 07:26] MiBaDK commented on #4218
Hi, a proposed fix has been committed some time ago. Any chance of getting this in a release soon :)

[2017-10-16 08:46] hennumjr commented on #6146
Having the same issue.

- Your browser and the version: Firefox 56.0.1 (64-bit)
- Your operating system: iOS 10.12.6
- Your databases: Postgres
- Metabase version: 0.26.1
- Metabase hosting environment: Docker image
- Metabase internal database: Postgres

A table has changed and some fields are removed. Inspecting the Metabase metadata table, the rows look like this
[code]
The column that is delet

[2017-10-16 08:53] gowtham-sai commented on #1008
Is there a way to disable login through password? Only Oauth login ?

[2017-10-16 10:32] stepan-romankov commented on #6112
I also have the same issue after update to 0.26.1

[2017-10-16 11:01] zacharyzhanghao commented on #1451
+1 中文  chinese

[2017-10-16 12:01] JoeSham commented on #4478
Any update on this issue? @salsakran

[2017-10-16 12:38] AshisRaj opened #6178 "Metabase seems to ignore the line breaks in multi-line text that it fetches from underlying DB"
- Browser and the version:  Chrome 61.0.3163.100 (Official Build) (64-bit)
- Operating system: Windows 7 Professional SP1 (64-bit)
- Database: Vertica
- Metabase version: 0.25.2

# Abstract
When Metabase extracts out the multi-line text from DB, the line breaks seem to be ignored on UI.

## Problem Statement
We have been publishing out test result's diff outputs into DB. But the diff content (bein

[2017-10-16 13:18] M4zD4i opened #6179 ""ID" suffix is missed in Filter suggest for field names"
- Your browser and the version: Safari 11.0 (12604.1.38.1.7)
- Your operating system: MacOS Sierra 10.12.6
- Your databases: Apache Impala
- Metabase version: fork from 0.26.1
- Metabase hosting environment: Docker
- Metabase internal database: Postgres

Steps to reproduce:
1. Create a database and table with column names containing an "ID" suffix (for example: Country ID, Campaign ID, User ID, et

[2017-10-16 17:52] fernandosjp commented on #4994
Same problem here. Statistical aproximation distinct is really misleading in BigQuery legacy code. There are two ways of fixing this issue.

**Instead of:**
`SELECT COUNT(DISTINCT column) FROM table`

**2 Options have distinct not as statiscal aproximation:**

1. Using exact count distict function
`SELECT EXACT_COUNT_DISTINCT(column) FROM table`

2. Using unique function
`SELECT COUNT(UNIQUE(colum

[2017-10-16 20:22] hky404 commented on #3615
same issue

[2017-10-16 20:45] camsaul commented on #1708
Hey everyone, one way we prioritize issues is by sorting them by the number of 👍 reactions on each issue's description. So instead of leaving `+1` or 👍  comments, please just upvote by adding a reaction to the issue description.

[2017-10-16 21:03] attekei opened #6180 "X-Rays: Show most interesting features for each field in table/segment comparison"
Currently we show same predefined features for each field:

<img width="1396" alt="screen shot 2017-10-16 at 22 07 43" src="https://user-images.githubusercontent.com/6034928/31631882-d6b0ad8e-b2c3-11e7-9995-37714018c3fa.png">

Probably requires rethinking the whole UI of "Full breakdown" section.

[2017-10-16 21:08] attekei opened #6181 "X-Rays: Multiple UI issues with "Potentially interesting differences""
- For some numeral comparisons the first number is missing
- The single differences (or " contributors" in backend jargon) aren't grouped by their respective fields
- Connected to #6180 and related to the upcoming data insights feature
<img width="1415" alt="screen shot 2017-10-16 at 22 07 34" src="https://user-images.githubusercontent.com/6034928/31635297-e852a50a-b2ce-11e7-912b-b48ef5b2624e.png"

[2017-10-16 21:13] attekei opened #6182 "X-Rays: Field-by-field comparison"
If you are on a segment/table comparison page, clicking an individual field should let you see detailed comparison for it (for instance all features of it), i.e. zoom in to it. Not sure if this would be a separate page or somehow included to the segment/table comparison page itself.

As an example, clicking Created At row here would show detailed information about it.
<img width="1373" alt="screen

[2017-10-16 21:27] mazameli commented on #3615
@nickcarenza, @federico-fiorini, and @hky404 — which version of Metabase are you using, and what kind of database?

[2017-10-16 21:35] nickcarenza commented on #3615
You're on version v0.23.1 with mysql

[2017-10-16 21:50] mazameli commented on #3615
@nickcarenza thanks for the quick reply. For what it's worth, v0.23 was released 7 months ago, so it's very possible that [a simple upgrade](https://metabase.com/docs/latest/operations-guide/start.html#upgrading-metabase) would solve your problems (not to mention all the cool additional features you'd get 😉 ).

[2017-10-16 22:03] nickcarenza commented on #3615
@mazameli Yea, we really should upgrade. I actually don't remember what issue exactly I was having at the time but in another new metabase installation I have what seems to be the same problem as what is discussed here and it seems to be strictly related to the number of distinct values for the column. Is there some sort of internal limit for using a category filter?

[2017-10-16 22:12] hky404 commented on #3615
@mazameli I am using
v0.26.1
Built on 2017-09-26

[2017-10-16 22:27] mazameli commented on #3615
@hky404 thanks for the info. Can you try the following:

- go to the Admin Panel, and in the Data Model section, go to the table that has the field you're trying to use with your filter, and set that field to the `Category` type.
- click on the gear icon to the right of the Type dropdown, and click the `Re-scan this field` button at the bottom of the page you're taken to. This will force a re-cach

[2017-10-16 22:34] hky404 commented on #3615
@mazameli thanks for the detailed response. But still the same, may be I am doing something wrong in the query?! Here is my question that I posted on discourse with no response over there as usual -
https://discourse.metabase.com/t/how-to-apply-filter-at-dashboard-level/2236

[2017-10-16 22:46] kdoh commented on #5330
This should be fixed by #6154.

[2017-10-16 22:46] #5330 closed

[2017-10-16 23:40] mazameli opened #6183 "Field filter field-to-map-to selector shouldn't load every field in the whole DB"
Right now, the dropdown to choose the field to map to a field filter variable loads every single field in the selected DB, which causes major performance problems for DBs with thousands of fields.

This is a proposal to replace the current popover menu with our existing query builder data selector, with some caveats:
- the popover shouldn't ever show the databases, since the user will have already

[2017-10-16 23:43] salsakran commented on #6183
I think we should try to include the table name if possible in the final screen with the selected field.

[2017-10-16 23:57] mazameli commented on #6183
Cool, I went back and forth on that.

[2017-10-17 00:12] mazameli commented on #6183
I updated the mock to depict what we basically do already in the UI to show the selected field's table.

[2017-10-17 03:24] hagen opened #6184 "Activity feed shows new users join who are not part of the current user's group"
- Your browser and the version: Chrome Version 61.0.3163.100
- Your operating system: Win 10
- Your databases: AWS Aurora (MySQL)
- Metabase version: v0.25.2
- Metabase hosting environment: Elastic Beanstalk
- Metabase internal database: Postgres
- Repeatable steps to reproduce the issue

1. Admin creates a new group, Group A
2. Admin creates a new group, Group B
3. Admin creates new user, User A,

[2017-10-17 04:17] joevandyk commented on #2618
There any progress on this?

[2017-10-17 05:47] joevandyk commented on #5775
@goodfella1408 you want to fork the metabase repo and push your change to there. Then open a pull request from the branch you made your change on.

[2017-10-17 06:08] qin4zhang opened #6185 "Error when I run metabase backend"
### Bugs
- Your browser and the version: Chrome 61.0.3163.79
- Your operating system: Windows 10
- Your databases: Postgres 9.6.5
- Metabase version: v0.27.0-snapshot
- Metabase internal database: H2 (default)

- *Repeatable steps to reproduce the issue*
I have pulled the master branch of metabase  and when i run the backend development server with the following scripts:

set MB_DB_TYPE=postgres
s

[2017-10-17 09:22] dop12 commented on #6029
+1
it happened to me too
Can it be solved temporarily by some workaround at least?

[2017-10-17 09:33] suhair opened #6186 "AWS Elasticbeanstalk installation fails with error"
I am trying to launch Metabase elasticbeanstalk but getting the following error.
Any idea why i am getting this error. Tried an older version and the same result. Please help.
![image](https://user-images.githubusercontent.com/165396/31657487-2b162b38-b337-11e7-958b-2c41d5e7ec27.png)

[2017-10-17 09:34] lkraav commented on #5606
Is this issue for the same thing as https://discourse.metabase.com/t/this-month-vs-last-month-graph/666

[2017-10-17 10:58] JoeSham commented on #1623
Any update on this? When is a fix for this planned?

[2017-10-17 11:08] hennumjr commented on #5246
Also having the same issue with version 0.26.1. The tool tip is correct, but axis tick labels are off by one.
![wrong-axis-tick-issue](https://user-images.githubusercontent.com/754494/31661715-fd6d59ea-b33b-11e7-9538-aa42ee109974.png)

[2017-10-17 11:56] freeseacher commented on #3332
there are probably no news on ch support. yep ?

[2017-10-17 13:44] M4zD4i opened #6187 "Values for text fields using in filters are replaced by "?" in SQL mode"
- Your browser and the version: Safari 11.0 (12604.1.38.1.7)
- Your operating system: MacOS Sierra 10.12.6
- Your databases: Apache Impala
- Metabase version: fork from 0.26.1
- Metabase hosting environment: Docker
- Metabase internal database: Postgres

Steps to reproduce:
1. Create a custom query with some fields in Filters having text type in data model and run it to get answer
2. Click "View i

[2017-10-17 16:12] anki-code opened #6188 "Button "Done" outside the screen on dashboard"
Metabase 0.26.1

![image](https://user-images.githubusercontent.com/1708680/31676038-0d150a90-b36f-11e7-8f88-007c816ff522.png)

Or it is an easter egg? :)

[2017-10-17 18:47] hky404 commented on #3615
@mazameli it worked. I changed the date field to the type 'category' in the admin panel and made some changes to my query and everything worked fine as far as date is concerned. Now to the next question, how can I make a field drop-down?! But that's not for this thread as it is not related to bug fixes. I just wish Metabase documentation was slightly better, but it's all good.

[2017-10-17 20:18] salsakran opened #6189 "A user should be able to mark an embed as "locked""
Sometimes, you'll want to embed a dashboard that is not parameterized, but not allow someone without a server signed request to view it.

We should allow an entire embed to be server signed without needing a parameter, and reject any embed that isn't signed

[2017-10-17 21:50] camsaul commented on #4668
Come on, this is a BASIC need for all users. PLEASE do it.

[2017-10-17 22:04] camsaul commented on #6187
This is a duplicate of #3549.

Also, how are you using Impala? We don't have a driver for it

[2017-10-17 22:04] #6187 closed

[2017-10-17 23:02] joevandyk commented on #2725
Yeah, this is getting painful for us :)

[2017-10-18 00:33] joevandyk opened #6193 "Can't zoom in on custom expression rows"
I have an aggregation using a custom expression called "Net Revenue $". When I zoom in using that expression, I see this error: http://take.ms/liahI ("No expression named 'Net Revenue $'")

[2017-10-18 01:10] camsaul commented on #4619
@deathbob are you still seeing this issue? If so, could you post steps to repro with the Sample Dataset?

[2017-10-18 01:11] camsaul commented on #4054
These have all been fixed, so going to go ahead and close this out. If we see more perms random test failures we can open a new issue

[2017-10-18 01:11] #4054 closed

[2017-10-18 01:15] camsaul commented on #6067
@esaiekuitche it sounds like your question was answered, so I'm going to go ahead and close this out. Feel free to reopen if you have any more questions

[2017-10-18 01:15] #6067 closed

[2017-10-18 08:33] #5902 closed

[2017-10-18 09:26] liemlyquan opened #6195 "Password for database are not are not saved properly"
### Bugs
- Your browser and the version: Safari 11.0 and 61.0.3163.100
- Your operating system: Mac OS High Sierra
- Your databases: MongoDB
- Metabase version: v0.26.1
- Metabase hosting environment: Ubuntu
- Metabase internal database: H2

- *Repeatable steps to reproduce the issue*

  - Go to "Metabase Admin Panel"
  - Go to "Databases"
  - Select existing MongoDB
  - The prefilled password is

[2017-10-18 10:29] sbelak commented on #6175
Hm, I can't reproduce it. Can you give me your MySQL version and the full exception trace.

[2017-10-18 10:42] TomTrinh opened #6197 "Error when adding parameters in POST request API to download card data"
Hi,

I'm trying to download data from card 205 using API post request as picture below but having issue with put parameter "date".

This query 205 has only date parameter.
Please help. I spent my whole day but cannot find solution

![image](https://user-images.githubusercontent.com/22843620/31714555-f34cc2b2-b42a-11e7-80fa-8d575d81d966.png)

[2017-10-18 12:25] M4zD4i opened #6198 "Changes in query constructor view are not applying to SQL mode view until running query"
- Your browser and the version: Safari 11.0 (12604.1.38.1.7)
- Your operating system: MacOS Sierra 10.12.6
- Your databases: Apache Impala
- Metabase version: fork from 0.26.1
- Metabase hosting environment: Docker
- Metabase internal database: Postgres

Steps to reproduce 1:
1. Open Custom query constructor and set some filter for query
2. Click "Switch to SQL" button:
![question metabase 2017-10

[2017-10-18 12:32] M4zD4i commented on #6187
Hi @camsaul , thanks for feedback!
We are based onto this PR: https://github.com/metabase/metabase/issues/3002

[2017-10-18 12:44] M4zD4i opened #6199 "Impossible to switch onto query Builder view if SQL question area is not empty"
- Your browser and the version: Safari 11.0 (12604.1.38.1.7)
- Your operating system: MacOS Sierra 10.12.6
- Your databases: Apache Impala
- Metabase version: fork from 0.26.1
- Metabase hosting environment: Docker
- Metabase internal database: Postgres

Steps to reproduce:
1. Move to SQL questions mode from Custom query view
"Switch to Builder" button is clickable
2. Enter some question into SQL

[2017-10-18 14:44] ruiisidro commented on #5857
This would be a great feature. I use a lot of pie charts to show OK/NOK views on logs it would be great to be able to choose red and green colors for these.

[2017-10-18 15:28] gitsh84 opened #6200 "Amazon Redshift - SSL certificate expiring"
Hey,
We've received a mail from AWS that:
"Action Required: Amazon Redshift - SSL certificate expiring on October 23rd 2017"
More info here:
https://docs.aws.amazon.com/redshift/latest/mgmt/connecting-transitioning-to-acm-certs.html

We have a metabase installation (great product BTW) which connect to AWS Redshift and I was wondering if this will effect us in any way and if so what should be done

[2017-10-18 17:12] arthurnobrega commented on #3653
I also would like to have this feature of variables in MongoDB.

[2017-10-18 17:56] doanvelagui commented on #6184
Same here, I would like to have group activity feeds isolated (regarding _user-join_ events). I guess this _issue_ is "produced" since all users belongs to _All Users_ group. If you have permissions to a _metabase resource_ for _All Users_ group, everybody [in this group] can see in their feed actions related to this _metabase resource_.

As a workaround (I have my metabase database in postgres) I

[2017-10-18 18:28] jamarzka opened #6201 "Feature: Abbreviate large numbers ex: 100K, 1.4K, 2.7M"
It would be nice if visualizations showed more friendly large numbers.

2,200,000 = 2.2M
200,000 = 200K

![image](https://user-images.githubusercontent.com/161660/31735551-e5f638e6-b407-11e7-8c48-769dd165c31e.png)

[2017-10-18 18:58] jamarzka commented on #6201
I see there is some support for this already but only in compact mode:
https://github.com/metabase/metabase/blob/master/frontend/src/metabase/lib/formatting.js#L58

[2017-10-18 19:27] mazameli opened #6202 "Pulses email recipient list autocomplete is buggy"
This is on Chrome v61 on our stats instance.

There are at least two distinct problems with the recipient autocomplete dropdown right now.

1. Using the keyboard to select an autocomplete suggestion by pressing return/enter doesn't immediately do anything. Clicking out of the input box and removing focus results in the autocomplete suggestion being committed. Expected behavior is that hitting retu

[2017-10-18 19:38] mazameli commented on #6202
Dupe of #5742

[2017-10-18 19:38] #6202 closed

[2017-10-18 19:38] mazameli commented on #5742
I also wrote up in https://github.com/metabase/metabase/issues/6202 that hitting return/or enter in the autocomplete dropdown doesn't do anything.

[2017-10-18 20:32] GravityWinz commented on #5402
As a BigQuery user I am very interested in this. I understand that not breaking the Legacy queries is a tricky thing to address. I might suggest that you have two separate BQ drivers, keep the existing one to support existing reports but then fork it to support Standard. Then as a user I can determine which way I will be querying BQ based on which driver I select?

[2017-10-18 20:45] mazameli opened #6203 "User groups should be addable as recipients of pulses (and alerts)"
It would be cool if e.g. `All Users` or `Marketing Team` or `On-call Engineers` could be typed into the recipients box for pulses and alerts so I wouldn't have to type everyone's name.

[2017-10-18 21:42] salsakran commented on #6199
This is intentional, as we can't always transform sql query back into our query language.

You can always just hit the back button, and the last executed query will be shown

[2017-10-18 21:42] #6199 closed

[2017-10-18 21:56] salsakran commented on #6095
We don't currently offer this in our quick start template. It should be doable, but you'd probably have to override the RDS configuration in the setup wizard.

[2017-10-18 22:12] salsakran commented on #6094
related to #1704

[2017-10-18 22:20] camsaul commented on #6095
@salsakran actually you can only specify SSL/TLS for Postgres or MySQL application DB details if you pass them via the `MB_DB_CONNECTION_URI` (i.e., connection string) env var. If you pass app DB details via the alternative broken-out env vars (`MB_DB_USER`, `MB_DB_HOST`, etc.) we actually don't have a way for you to configure SSL. So I think we should probably add another env var and call it some

[2017-10-18 22:40] salsakran commented on #6200
Our most recent version uses a driver that should be compatible.

If you're not on 0.26, we suggest upgrading!

[2017-10-18 22:42] salsakran commented on #6195
You shouldn't input a new password unless it's changing it.

We'll update partial details on that form, and definitely don't push the database password down to the frontend client, so the number of characters in that field is arbitrary.

[2017-10-18 22:42] #6195 closed

[2017-10-18 22:43] salsakran commented on #6188
What happens if you click it?

Also what browser/os versions are you on?

[2017-10-18 22:48] salsakran commented on #6185
fixed in #6196

[2017-10-19 03:30] zhaosaisai opened #6206 "Oh, Start failed after I upgraded to v0.26.1 from v0.25.2"
I toke much time to do my upgrade, but when i start dev, the metabase occured an error so thoroughly.

my environments:

[code]

What error happened as below:

![error1](https://user-images.githubusercontent.com/12776545/31752747-2f79de06-b452-11e7-8464-670fd39e581e.png)

Why the foreign key `fk_rawtable_ref_database` does not exist? And  I scaned all tables in metabase . The result is I cannot fo

[2017-10-19 03:37] 2json commented on #6206
And metabase@v0.26.1 start so slow, and even serveal minutes to start my server.

[2017-10-19 07:37] wallce commented on #4701
suggest export from svg to html just like "https://www.highcharts.com/".

[2017-10-19 08:47] M4zD4i commented on #6042
Reproduced this issue. Resulting SQL query is really seems starnge:
![question metabase 2017-10-19 11-42-06](https://user-images.githubusercontent.com/1096609/31762188-177065a2-b4c3-11e7-828d-86696fab4d04.png)

[2017-10-19 09:04] friulchingo commented on #6112
I am guessing it might something related with custom metrics too. The only table's question not working is the only one viewing a custom metric. It looks like I neither can deselect it nor visualise its formula.

I am starting being hopeless and probably I'll spend a wknd replicating all visualisation from scratch in a newly imported database.

@stepan-romankov what's your experience?

[2017-10-19 09:33] benjR commented on #5401
Tried using it too and it's not possible as long as we can't sort the sections.

[2017-10-19 09:37] gitsh84 commented on #6200
Thanks for your reply @salsakran.
Unfortunately upgrading to a new version never worked for me...
I tried doing it from multiple versions (I currently run various versions from 0.22.2 to 0.24 ...).
Every time I tried to upgrade to the latest version it's not going smoothly (instances is not healthy) and I end up rolling back the upgrade.

Do you maybe have any other suggestion or what can be done

[2017-10-19 12:27] gitsh84 commented on #6200
Ok so now I'm getting:
/api/health 503 (Service Unavailable)
when I try to access the dashboard...
Any idea what do to here ?

[2017-10-19 12:33] thejeshgn opened #6207 "Webservice support"
Is there any plans for supporting webservices (JSON or XML) as way to pull data?

This will be for pulling data from third party services to be included as part of metabase. Simple and stupid examples would be weather or currency exchange information.

[2017-10-19 13:37] M4zD4i commented on #5299
Reproduced this issue, in additional I have an error when trying to set filter "Is"->"Empty":
![question metabase 2017-10-19 16-35-50](https://user-images.githubusercontent.com/1096609/31773572-d98a0fd0-b4eb-11e7-92ad-9bc56e0e5180.png)

[2017-10-19 15:16] joefromct commented on #4631
+1

[2017-10-19 16:02] rbhalla opened #6209 "High CPU usage after upgrade to 0.26.1"
Running on ECS (using docker image), connecting to Redshift.

CPU spikes at 45 past the hour, and reduces at ~20 past the hour. Restarting the task doesn't seem to do much, for now I've increased CPU allocation, but ideally would like to resolve any problem.

Not sure if this is related to the deadlock issue raised in another issue. If it is, feel free to close.

Let me know if you need anymore sp

[2017-10-19 17:12] camsaul commented on #4631
Hey everyone, one way we prioritize issues is by sorting them by the number of 👍 reactions on each issue's description. So instead of leaving `+1` or 👍  comments, please just upvote by adding a reaction to the issue description.

[2017-10-19 17:16] camsaul commented on #6042
@M4zD4i what's "really strange" about that SQL query? 😃

[2017-10-19 17:29] jornh commented on #6101
@Bryze when you install “inside” WSL with `apt-get` you are doing a separate install in folders on the Linux side (in the Linux filesystem)

The only reason why you can call programs installed on the windows side from you WSL bash is due to this feature: https://msdn.microsoft.com/en-us/commandline/wsl/interop#invoking-windows-binaries-from-wsl

So it’s due to this interop feature that you were st

[2017-10-19 17:38] btrebbien commented on #5713
+1 for HANA

[2017-10-19 17:39] camsaul commented on #5713
Hey everyone, one way we prioritize issues is by sorting them by the number of 👍 reactions on each issue's description. So instead of leaving `+1` or 👍  comments, please just upvote by adding a reaction to the issue description.

[2017-10-19 17:42] camsaul commented on #6101
@attekei Windows can use either backslash or forward slash as directory separators, it doesn't care

@jornh/@Bryze Most people recommend using `apt` instead of `apt-get` these days. e.g. `apt install`. It's easier to use

[2017-10-19 18:01] cgivre commented on #2157
Hi @wjoel,
I tried it out with Drill and it worked very well!  Thank you very much for working on this!!

[2017-10-19 19:13] sabino commented on #3842
We just had this problem. I have no idea what caused.
Version 0.25.2

[2017-10-19 19:45] #4668 closed

[2017-10-19 19:55] camsaul commented on #2881
Going to reopen this now that Java 9 is officially out and this still isn't working

[2017-10-19 22:09] salsakran opened #6212 "Floats aren't being automatically binned in the Sample dataset"
Eg, try count of rows by latitude... there is no way to select the # of bins on latitude.

[2017-10-19 22:22] camsaul commented on #4694
Implemented by #6211

[2017-10-19 22:22] #4694 closed

[2017-10-19 22:23] camsaul commented on #2881
Fixed by #6211

[2017-10-19 22:23] #2881 closed

[2017-10-19 22:27] camsaul commented on #6207
Duplicate of #4831

[2017-10-19 22:27] #6207 closed

[2017-10-19 22:32] camsaul commented on #4831
This is actually how our Druid driver, for example, works. Everything from information about the data to running the queries themselves is done via a REST API. So you could write a driver like that for your API that makes API calls and transforms them to the format Metabase expects.

A brief guide to writing a driver is available here [here](https://github.com/metabase/metabase/wiki/Writing-A-Driv

[2017-10-19 23:38] camsaul opened #6213 "Remember Me: on login page"
Is the checkbox in the wrong place? Or is it just a mystery extra semicolon?

![screen shot 2017-10-19 at 9 36 34 am](https://user-images.githubusercontent.com/1455846/31798942-d419bc76-b4eb-11e7-98be-6de74e51cd73.png)

[2017-10-20 00:24] camsaul commented on #5954
To clarify, this doesn't work with the Query Builder (the variable doesn't get picked up) but it works fine on the backend

[2017-10-20 00:37] camsaul commented on #5800
Yup, this is the same issue

Closing as duplicate of #4802

[2017-10-20 00:37] #5800 closed

[2017-10-20 00:43] camsaul commented on #4802
I'm also not able to reproduce this locally or on our hosted test instance.

In fact, both "zero" and "linear interpolation" both appear to be doing the same thing for me, which is filling all then `NULL` values with zeroes. I used the following SQL to generate some data to test this (Postgres):

[code]

Can anyone here confirm this issue is still happening on Metabase >= 0.26.1 and, if so, give m

[2017-10-20 00:49] camsaul commented on #4439
Trimming the email string sounds easy enough. We should probably do it on the frontend because the API endpoint validates the email address is valid before we would get a chance to trim it. This would be a perfect starter project for anyone interested in contributing. @iamkyu if you're interested in submitting a PR we'd love to have you as a contributor

[2017-10-20 00:49] firiz commented on #6209
I'am running jar version on Ubuntu 16 and this is happening to me as well.

[2017-10-20 00:50] camsaul commented on #5825
Hey @wwwiiilll do you have any suggestions on what we need to do to fix this? I don't have a ton of experience with LDAP

[2017-10-20 00:56] camsaul commented on #3378
We pass `admin_email` because we show it to people if they have trouble logging in or signing up ("Need help? Contact your administrator at..."). `password_complexity` is passed so we can do client-side validation when you sign up, e.g. a "Your password must be at least 8 characters". That way we don't need to wait for a full API round-trip to tell you your password is too weak. You'd still be abl

[2017-10-20 00:59] camsaul commented on #5449
This sounds like it's outside of the scope of the Metabase project. Metabase itself doesn't use HTTP Basic Auth for authentication, so I'm guessing you'll probably need to tweak your nginx proxy settings to make sure you set it up correctly.

[2017-10-20 00:59] #5449 closed

[2017-10-20 01:02] camsaul commented on #6069
It sounds like adding the trailing slash fixed the issue. @salsakran can we close this?

[2017-10-20 01:03] camsaul commented on #5608
Duplicate of #5126. This was fixed in our latest release, 0.26.1. @michaelfeihstel try updating to the latest version of Metabase

[2017-10-20 01:03] #5608 closed

[2017-10-20 02:25] wwwiiilll commented on #5825
That's odd, we're using multiple LDAP groups just fine where I am.

@Nyno-Kun Which LDAP server are you using?
How is your directory organised and how did you set it up in MB?

[2017-10-20 03:10] on99 commented on #6175
@sbelak

### mysql versions

![image](https://user-images.githubusercontent.com/13196393/31803551-f87f342e-b586-11e7-9ba4-ea66849d1c2b.png)

### metabase stack trace

[code]

[2017-10-20 03:13] kdoh commented on #6213
It’s in the right place. I think the label just has an extra colon because our FormLabel component tends to use that (look at Email and Password). I’d actually say the bigger issue here is why are we using a bog standard check box instead of our styled checkbox.

[2017-10-20 03:33] on99 commented on #6175
@sbelak

Sorry, it's not able to reproduce the exception with previous sample data set.

Here is the new one.

[code]

in metabase

* save a question ***sum(i) by created_at (hour)*** and X-ray this question (Exception)
* save a question ***sum(d) by created_at (hour)*** and X-ray this question (Works)
* save a question ***sum(f) by created_at (hour)*** and X-ray this question (Works)

Sorry for m

[2017-10-20 05:30] oillamp opened #6216 "delete email config"
i had success config email server, and now i want to delete or disabled the email config, how can i do it?

[2017-10-20 06:25] zyadsherif opened #6217 "Download button UX"
Thanks for this awesome platform everyone, a very tiny request to change the download button icon. I've spent almost 2 hours searching for the query results download button and was pretty sure this icon was for some sort of `sorting` it was really confusing that I had to search the html content of the page to see if there's anything that says `Download`

Close the ticket at will
Thanks again

![sc

[2017-10-20 07:16] M4zD4i commented on #6042
It's broken as we have: "SELECT ... as `sum`, ... as `sum` ... ORDER BY `sum`", so `sum` filed is ambiguous. May be it make sense to concat user selected field_name and alias_name here. For example: sum(`is_bid`) resulting "AS `sum_is_bid`"?

[2017-10-20 08:21] deglavs commented on #1509
+1 for DB2. I'm currently having a look at various reporting tools we could use and a DB2 support is a must have.

[2017-10-20 08:48] Nyno-Kun commented on #5825
@wwwiiilll we are using a Univention LDAP Server. We just turned Group-Mapping off for now and its working. But we would like to use it...

In other Apps like Gitlab, Samba-Shares and Mailing via Kopano, every thing works fine.

[2017-10-20 10:24] sanderdw commented on #5713
HANA would be a nice addition indeed,

[2017-10-20 10:43] liemlyquan commented on #6195
But without changing the password the password, I cannot select the "SCANNING FOR FILTER VALUES". It will always return Authentication failed.

[2017-10-20 12:08] rmmatheus commented on #5713
+1 for HANA

[2017-10-20 12:35] mayconcl commented on #5713
+1 for SAP Hana
A lot of big companies are using in memory database as SAP HANA.
It'd be great for many professionals that are looking into new alternatives like that.

[2017-10-20 14:17] vi-vsn opened #6218 "Dashboard grid ought to be multiple of the magic number - 12. So 24 instead of 18."
The subjects says it all, really. This way it is divisible into halves, thirds, quarters and fractions based on those.

I am not sure why 18 was chosen, but it looks to me that it isn't the best choice.

I should also point out that a grid of 24 should be fully backward compatible, since 18 is only divisible by halves and thirds, while 24 is divisible in the same manner, plus quarters as well.

Pl

[2017-10-20 14:53] beevelop opened #6219 "Docker Image v0.26.2 throws exception"
- Metabase version: `v0.26.2` (`sha256:ea85d9e09ea642983a1bb79e47fd207c659bb8db7aa4b677332970be3b576364`)
- Docker info
[code]
- Launching the container leads to the following exception
[code]
- The very same configuration does work with `v0.26.1`.

---

<details>
  <summary>docker-compose.yml used to initialize Metabase</summary>
  <p>

[code]
</p></details>

[2017-10-20 15:20] wjoel commented on #2157
Fantastic, thanks guys. Hopefully I'll get a new review soon so we can get this merged.

[2017-10-20 15:42] viniciussoler opened #6220 "+1 for HANA"
+1 for HANA

[2017-10-20 15:43] viniciussoler opened #6221 "+1 for HANA"
+1 for HANA

[2017-10-20 15:43] #6221 closed

[2017-10-20 15:43] viniciussoler opened #6222 "+1 for HANA"
+1 for HANA

[2017-10-20 15:44] #6222 closed

[2017-10-20 16:23] mazameli commented on #6217
So sorry to hear that! Issue #6170, a redesign of our action buttons on questions and dashboards, should hopefully help prevent this kind of bad UX.

[2017-10-20 17:42] keitarobr opened #6223 "Uberjar building issue (0.26.2)"
Dear all,

while trying to build the uberjar, an exception is thrown and the process is not concluded. My environment is as follows:

`
rodrigo@ubuntu:~/Projetos/metabase$ java -version
java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

rodrigo@ubuntu:~/Projetos/metabase$ node -v
v8.5.0

rodrigo@ubuntu:~/

[2017-10-20 17:54] camsaul commented on #1509
@wallce https://help.github.com/articles/creating-a-pull-request/

[2017-10-20 17:54] camsaul commented on #1509
Hey everyone, one way we prioritize issues is by sorting them by the number of 👍 reactions on each issue's description. So instead of leaving `+1` or 👍  comments, please just upvote by adding a reaction to the issue description.

[2017-10-20 17:57] camsaul commented on #5713
Hey everyone, one way we prioritize issues is by sorting them by the number of 👍 reactions on each issue's description. So instead of leaving `+1` or 👍  comments, please just upvote by adding a reaction to the issue description.

[2017-10-20 18:17] nickhudkins commented on #6174
I'd be more than happy to dig in, I presume this is as a result of https://github.com/metabase/metabase/blob/17d0e57ba68ff8d1e4fa17034c588db9d20bf3ee/src/metabase/pulse/render.clj#L47 Lato does not support the characters but seems to have mappings for them resulting in those lovely empty boxes.

[2017-10-20 18:22] camsaul commented on #5673
@Riser101 I'm going to go ahead and close this issue since it sounds like we answered your question (Thanks @mnzt for the help!)

Feel free to open a new issue if you have further questions or problems

[2017-10-20 18:22] #5673 closed

[2017-10-20 18:23] camsaul commented on #6174
Duplicate of #2342

[2017-10-20 18:23] #6174 closed

[2017-10-20 18:24] camsaul commented on #2342
(Moving this conversation over from duplicate issue #6174)

@nickhudkins if you still want to try tweaking the font list and find something that works as expected we'd love a PR for that. Thanks!

[2017-10-20 18:31] nickhudkins commented on #2342
@camsaul unfortunately we would need a font that's subset to only support emojii or something fun like that :\ I can look deeper into it because that would be the quickest solution I suspect. I suspect the fastest solution is going to be pulling `Lato` from the font stack, but I'll do some testing and find out. I may be able to get a font with only emojii subset that at least let's us fall back to

[2017-10-20 18:33] salsakran commented on #2342
@nickhudkins thank you for taking this on!

Just as a heads up, Lato is our font across the application. Dropping it from the stack is not going to be a quick-fix PR we merge unless it's really the only way out of this.

[2017-10-20 18:34] camsaul commented on #6219
@beevelop that's really strange... `--add-opens java.base/java.net=ALL-UNNAMED` is supposed to be passed a Java option, not the main class. Our `java` invocation ends up looking something like

[code]
I wonder if it's getting confused and thinking that's supposed to be the main class because Java 8 wouldn't recognize `--add-opens` (and would ignore it) and there's a space there. (@senior, @salsakr

[2017-10-20 18:36] camsaul commented on #2342
@nickhudkins @salsakran I think you can (for example) refer to Apple's emoji font in CSS, right? `Apple Color Emoji` or something like that. So my understanding is we'd just need to figure out an emoji-only font stack to make every OS happy and then stick that in front of `Lato`

[2017-10-20 18:37] nickhudkins commented on #2342
@salsakran totally understood. and yes @camsaul I believe that should do the trick. I don't have anything running locally just been digging through the code to try to figure out what in the world is going. Perhaps a more useful PR would be getting this to stop rendering images, and use slack attachments

[2017-10-20 18:39] salsakran commented on #6219
we can also remove java 9 support from the docker file until we switch images.

i.e. we know that image has java 8 on it because we're putting it there.

[2017-10-20 18:41] camsaul commented on #2342
@nickhudkins unfortunately we use that code for sending emails too so Slack attachments isn't a fix for that case

[2017-10-20 18:43] camsaul commented on #2342
Since we're rendering server-side we might also be able to bundle our own font and use that. (Not sure how easy that is.) Something like https://github.com/MorbZ/OpenSansEmoji could be a viable option.

[2017-10-20 18:44] camsaul commented on #2342
However that still wouldn't fix Chinese characters and the like

[2017-10-20 18:44] salsakran commented on #2342
Imo chinese is more important to support than emoji ;)

[2017-10-20 18:55] beevelop commented on #6219
@camsaul I added the `=` to the `run_metabase.sh` JAVA_OPTS and built an image based on the `v0.26.2` version. It does in fact resolve the problem and the container gets up and running. 👍

Which branch needs to receive the related PR?

[2017-10-20 18:56] salsakran commented on #6219
@beevelop release-0.26.2

[2017-10-20 18:59] camsaul commented on #6219
@salsakran @beevelop I've already opened PR #6224

[2017-10-20 19:05] beevelop commented on #6219
@camsaul Ah damn, you are quite fast 😉

[2017-10-20 19:17] camsaul commented on #6219
Fixed by #6224

[2017-10-20 19:17] #6219 closed

[2017-10-20 19:26] camsaul commented on #6220
@viniciussoler, why have you opened 3 issues (#6221, #6222, this) saying "+1 for HANA"? We already have an issue for HANA support at #5713. This should go without saying but if you want to show your support for a certain issue opening duplicates is not the correct way to do it. Instead of opening `+1` issues, or leaving `+1` or 👍  comments, please just upvote by adding a reaction to the issue desc

[2017-10-20 19:26] #6220 closed

[2017-10-20 19:38] beevelop commented on #6219
@camsaul Awesome, thanks for the ultra-fast fix.

[2017-10-20 19:49] camsaul commented on #6219
@beevelop thanks for catching it and letting us know!

[2017-10-20 19:58] vi-vsn commented on #6218
Found #2057 in history, tried to track down follow-up issues, but did not find anything that would offer clarity on why 18 grid was chosen. Anyway, feel free to close if this isn't something you care about.

[2017-10-20 20:03] mazameli commented on #6218
I think that's an interesting suggestion. It would definitely provide a bit more flexibility and granularity in sizing cards, and you're right that 24 divides into quarters cleanly whereas 18 doesn't.

What I really love is that you're paying this much close attention to the details of Metabase! Glad you guys love it.

[2017-10-20 20:29] senior commented on #6120
@und3fined @trifle We just released PostgreSQL 10 support with 0.26.2, if you upgrade you should see it work now.

[2017-10-20 20:29] #6120 closed

[2017-10-20 20:31] senior commented on #5424
Note that the fix for this was included with 0.26.2 which was just released. Upgrading should fix this issue.

[2017-10-20 21:45] #5954 closed

[2017-10-21 01:54] nickhudkins commented on #2342
@camsaul bit of a roadblock, is development on OS X supported? Attempting to build a local docker image and getting a webpack build failure, and running lein ring server and getting a TLS warning.

The docs regarding the TLS warning indicate I can add a snippet of clojure to the `project.clj` but I seem to receive the same error repeatedly. Perhaps it is a version mismatch of lein or something?

[2017-10-21 14:29] nickhudkins commented on #2342
@on99 could you provide me the characters that you were seeing rendering improperly? It appears that I have been able to render some Chinese characters successfully.
<img width="219" alt="screen shot 2017-10-20 at 11 25 27 pm" src="https://user-images.githubusercontent.com/299126/31852689-0b78ffce-b64a-11e7-8973-0b98b7d76861.png">

[2017-10-21 15:01] nickhudkins commented on #2342
So, changing fonts is not going to do the trick. I'll need to dig into how CSSBox is rendering the image.

[2017-10-21 17:58] camsaul commented on #2342
@nickhudkins we just discovered the leiningen 2.8 issue yesterday. We're still figuring out a fix

[2017-10-21 17:59] nickhudkins commented on #2342
Ask amazon to host redshift repo on https? Lol
On Sat, Oct 21, 2017 at 1:58 PM Cam Saul <notifications@github.com> wrote:

[2017-10-21 23:09] mknippen commented on #3753
I'm still having this issue with docker, and then think I found an easy way to reproduce.

1. Start with a clean docker image.
2. Grab a sample SQLite DB file
3. Copy that file into your docker image with
`docker container db.sqlite3 CONTAINER_ID:/home/db.sqlite3`
4. Try to connect the data with SQLite and path /home/db.sqlite3.

What happens:
`java.lang.UnsatisfiedLinkError: org.sqlite.core.Nativ

[2017-10-22 12:05] joebordes opened #6229 "Sort icons are missing"
- Your browser and the version: Fails both on Firefox and Chrome with the same error
- Your operating system: Linux Mint Sarah
- Your databases: H2 Sample Data
- Metabase version: 0.26.2
- Metabase hosting environment: Linux
- Metabase internal database: H2 (default)

- Sort by any column

-------

I just upgraded to 0.26.2 and I lost the sort icons in the header columns of questions.

![missingso

[2017-10-22 13:08] magno32 opened #6230 "Add Driver for Apache Calcite"
Calcite is a JDBC driver without an underlying data-store.  It provides a means to fairly easily create JDBC access to custom data sources.

https://calcite.apache.org

There are currently adapters (in the Calcite project itself) that would add support for:

- Cassandra
- CSV (this is their development example)
- Elasticsearch
- Splunk
- More at https://calcite.apache.org/docs/adapter.html

Calcit

[2017-10-22 13:33] lloonngg commented on #6056
Just a quick update:  I just tried the v0.26.2 docker image, and I still have the same problem connecting to a SQL Server endpoint which continues to work in the v0.25.2 docker image.

[2017-10-22 14:23] joebordes opened #6231 "Select/Unselect All fields checkbox"
This is a feature request to mass select and unselect fields to include in a table

![metabaseselectallfield](https://user-images.githubusercontent.com/1237191/31862854-59e57cc2-b745-11e7-9ff6-950834d8cd12.png)

[2017-10-22 14:58] on99 commented on #2342
@nickhudkins What you rendered are **Traditional Chinese** characters XD

The **Simplified Chinese** characters I used are:
国家, 中国, 亚太地区, 实际收入.

[2017-10-22 14:59] nickhudkins commented on #2342
Ah. Thank you :)
On Sun, Oct 22, 2017 at 10:58 AM on99 <notifications@github.com> wrote:

[2017-10-22 16:18] magno32 opened #6232 "Cannot build project"
`lein ring server` produces the following:

Tried to use insecure HTTP repository without TLS.
This is almost certainly a mistake; however in rare cases where it's
intentional please see `lein help faq` for details.

The `FAQ` for lein suggests adding an exception the the project.clj file.  This is obviously being built without that though.

If I remove the redshift artifact and repository, then I

[2017-10-22 20:50] jornh commented on #6232
Here’s the build Dockerfile: https://github.com/metabase/metabase/blob/master/Dockerfile#L1-L3

[2017-10-22 21:18] magno32 commented on #6232
Thanks,

I completely overlooked that.  However, it behaves the same and gives the same error about an insecure repository as well.

[2017-10-22 22:06] magno32 commented on #6232
Progress,

Apparently lein's stable download is 2.8.0, which is 5 days old.  Downgrading to [2.7.1](https://raw.githubusercontent.com/technomancy/leiningen/2.7.1/bin/lein) gets rid of the repository TLS error.

Once that goes away, I have the same problem as #6223

[2017-10-23 08:06] lohrmann opened #6233 "NGINX_SERVER_NAME directive denies any access on elastic beanstalk"
- Metabase version: v0.26.1
- Metabase hosting environment: Elastic Beanstalk
- Metabase internal database: Postgres

Setting the `NGINX_SERVER_NAME` directive on elastic beanstalk as per [the documentation](https://www.metabase.com/docs/v0.18.1/operations-guide/running-metabase-on-elastic-beanstalk.html#protecting-against-invalid-hostname-access) results in all domains being inaccessible, includi

[2017-10-23 10:47] M4zD4i opened #6234 "Missed columns title in resulting matrix view"
- Your browser and the version: Safari 11.0 (12604.1.38.1.7)
- Your operating system: MacOS Sierra 10.12.6
- Your databases: Apache Impala
- Metabase version: fork from 0.26.1
- Metabase hosting environment: Docker
- Metabase internal database: Postgres

Steps to reproduce:
1. Create a query in Builder using count(*) for results and grouping them by 2 parameters
2. Matrix view will be resulting bu

[2017-10-23 11:24] M4zD4i opened #6235 "Builder columns sorting in matrix view doesn't match SQL mode sorting"
- Your browser and the version: Safari 11.0 (12604.1.38.1.7)
- Your operating system: MacOS Sierra 10.12.6
- Your databases: Apache Impala
- Metabase version: fork from 0.26.1
- Metabase hosting environment: Docker
- Metabase internal database: Postgres

Steps to reproduce:
1. Create a query in Builder using count(*) for results and grouping them by 2 parameters
2. Results are viewed as matrix and

[2017-10-23 11:33] tobbbles opened #6236 "Date-partitioned tables cause timeout on /fields endpoint"
**NOTE:** I have only tested this against BigQuery.

## Issue
The call to `/api/database/X/fields` times out. When inspecting this DB in 'Admin Panel | Data model', there are 1086 Queryable Tables.

Metabase is duplicating these tables (see attached), although this table only exists once within BigQuery.
![image](https://user-images.githubusercontent.com/10098811/31438991-6a7afcae-ae82-11e7-95f1-5

[2017-10-23 11:51] M4zD4i opened #6237 "Confusing thousands separator in results table"
- Your browser and the version: Safari 11.0 (12604.1.38.1.7)
- Your operating system: MacOS Sierra 10.12.6
- Your databases: Apache Impala
- Metabase version: fork from 0.26.1
- Metabase hosting environment: Docker
- Metabase internal database: Postgres

Steps to reproduce:
![question metabase 2017-10-23 14-39-54](https://user-images.githubusercontent.com/1096609/31887295-650600b6-b800-11e7-9d79-9

[2017-10-23 11:51] Eilliar commented on #6209
Yeah, it happens to me too. The process consumes 100% of CPU and metabase completely freezes. One can't access the interface, it keeps loading forever. So I have to restart the process.

Some infos:
Running metabase on a 	t2.medium instance in AWS, Ubuntu 16.04 with openjdk version "1.8.0_131". Also starting the jar with -Xmx1024M.

When this happens, the log does not give any clue on the cause, i

[2017-10-23 12:16] M4zD4i opened #6238 "Not possible to sort by Custom Field"
- Your browser and the version: Safari 11.0 (12604.1.38.1.7)
- Your operating system: MacOS Sierra 10.12.6
- Your databases: Apache Impala
- Metabase version: fork from 0.26.1
- Metabase hosting environment: Docker
- Metabase internal database: Postgres

Steps to reproduce:
1. Create a custom field from "Add custom field" button in query Builder
2. Create some query using this field in group by se

[2017-10-23 12:18] M4zD4i opened #6239 "Not possible to sort by Custom Expression fields"
- Your browser and the version: Safari 11.0 (12604.1.38.1.7)
- Your operating system: MacOS Sierra 10.12.6
- Your databases: Apache Impala
- Metabase version: fork from 0.26.1
- Metabase hosting environment: Docker
- Metabase internal database: Postgres

Steps to reproduce:
1. Create a Custom Expression field in View section of query Builder
2. Create some query displaying this field
3. Column wit

[2017-10-23 12:45] Serfenia commented on #4789
This proposal has 10 up votes, anything planned for this?

[2017-10-23 12:49] M4zD4i opened #6240 "Sorting table of visualized results should not perform query execution again"
- Your browser and the version: Safari 11.0 (12604.1.38.1.7)
- Your operating system: MacOS Sierra 10.12.6
- Your databases: Apache Impala
- Metabase version: fork from 0.26.1
- Metabase hosting environment: Docker
- Metabase internal database: Postgres

It's just assumption. It seems it will be more useful resort only view of resulting table visualization without execution the query again to sort

[2017-10-23 13:41] nickhudkins commented on #2342
@camsaul so... I have absolutely NO IDEA what I am doing when it comes to clojure and have limited time to invest in learning it. But, I have done some research in HTML -> Image processing and what provides the most expected results. Using headless chrome, or phantomjs both result in the most consistent rendering of webpages (unicode and all!).

Digging into the libraries out there for clojure, I

[2017-10-23 13:58] sanjredfield commented on #6186
I am also seeing this issue. Would very much appreciate some assistance.

[2017-10-23 17:14] mazameli commented on #6229
Hi, Joe. If you click on the heading, like `Address`, you should see an action menu which includes sort options. Is that working for you?

[2017-10-23 17:16] mazameli commented on #6231
This is something I've wanted for a while. It's a duplicate of https://github.com/metabase/metabase/issues/3951, and we there's an open PR for it that has been stagnating, but which I'd love for us to try and merge: https://github.com/metabase/metabase/pull/4436

[2017-10-23 17:16] #6231 closed

[2017-10-23 17:39] camsaul commented on #2342
@nickhudkins doing something like that would be nice. Especially if we could reuse the same JS code we use to render client-side instead of having a separate, less-sophisticated set of code to render server-side. I do have a feeling a project like that would take quite a bit of effort however

[2017-10-23 17:40] salsakran commented on #2342
imo shipping phantomjs or chrome as a dependency is tricky. It's a non-jvm dependecy we'd need to be able to install across a wide variety of platforms. We'd also need to be careful about the extra memory footprint, as we're starting to get a little ... big boned on that front.

Not a fan.

[2017-10-23 17:42] joebordes commented on #6229
Yes, the menu is there and it actually sorts correctly but there is no chevron character or "down"/"up" arrow to indicate that the column has been sorted

[2017-10-23 17:47] mazameli commented on #6229
Ohhh, I see. I misunderstood what the issue was that you were reporting.

[2017-10-23 17:48] nickhudkins commented on #2342
@salsakran totally understood regarding shipping phantomjs or chrome, which is why I asked. Unfortunately I don't know that you have many options without either finding a JVM based HTML-> Image renderer that doesn't have problems with unicode, or, rolling your own which sounds like a nightmare with phantomjs being standard and headless chrome chipping away rapidly at this space.

The alternative w

[2017-10-23 17:49] j commented on #1374
@camsaul how do you specify the list of mongo hosts?   It still supports just one host

[2017-10-23 18:35] kanexren commented on #3360
Currently still experiencing this on 0.26 with Pro 1x. There doesn't seem to be a resolution clearly stated anywhere. Is this still an ongoing issue?

[2017-10-23 19:12] #6232 closed

[2017-10-23 19:13] camsaul commented on #6232
@magno32 We just fixed the Leiningen 2.8.x issue on `master`

[2017-10-23 19:22] camsaul commented on #6223
@kdoh or @attekei have you seen this Webpack error before?

[code]

[2017-10-23 19:56] sergiogabriel commented on #2157
I have tried to use apache drill as metabase source but I cant see any views. Is this driver just works with tables?

-- SG

[2017-10-23 20:31] attekei commented on #6223
Seems that https://github.com/metabase/metabase/pull/6147 might have broken the UglifyJS step of our build process. CircleCI doesn't complain about this because it never builds the frontend (it only runs `./bin/build version uberjar` which is a subset of the whole build process).

I'll take a closer look tomorrow and push a fix.

[2017-10-23 20:32] kdoh commented on #6223
@camsaul I haven't. Could be related to our upgrade to a newer version of webpack maybe? https://github.com/algolia/react-element-to-jsx-string/issues/90 seems like it's referencing a similar problem and it looks like the issue is that uglify doesn't work with es6 syntax as noted here. https://github.com/mishoo/UglifyJS2#note

[2017-10-23 20:39] attekei commented on #6223
Yeah I just repro'd a similar error
[code]

[2017-10-23 22:43] eljakim commented on #5312
Is there a workaround for this available? This is a major issue for us. Not only for charts, but also for tables where you would want to be able to do something like:

|   |  2015 | 2016   | 2017  | 2018  |
|---|---|---|---|---|
|  Q1 |   |   |   |   |
|  Q2 |   |   |   |   |
|  Q3 |   |   |   |   |
| Q4 | | | | |

in order to be able to compare turnover.

[2017-10-23 23:59] nevir commented on #6200
Seems like you're likely ok on older versions as well:

* prior to 0.26 it looks like the redshift driver was using the postgres driver
* the postgres driver [explicitly disables SSL certificate checks](https://github.com/metabase/metabase/blob/7297e1ace2646484f29ebe83bd6357e557226795/src/metabase/driver/postgres.clj#L90)

[2017-10-24 00:01] camsaul commented on #6200
@gitsh84 @nevir to clarify we switched to the official Redshift JDBC driver for 0.26.2, not 0.26.0. We shipped 0.26.2 on Friday (3 days ago) so give that a try and things should work.

[2017-10-24 00:14] nevir commented on #6200
Aha!

[2017-10-24 00:54] dgleba commented on #6056
I have tried many entries in the form pictured below.

You can see the error on the pic. The same error is on the metabase console.

I am using  v 26.1.

Any ideas?

![image](https://user-images.githubusercontent.com/4622715/31919970-f16e5a84-b833-11e7-8fa6-b56cb71c2075.png)

[2017-10-24 01:00] disambiguator commented on #6146
Seeing the same issue.

Your browser and the version: Google Chrome Version 61.0.3163.100 (Official Build) (64-bit)
Your operating system: macOS Sierra
Your databases: Postgres
Metabase version: 0.26.1
Metabase hosting environment: Heroku
Metabase internal database: Postgres

Anyone have a workaround for now?

[2017-10-24 01:05] #6223 closed

[2017-10-24 01:06] cweems commented on #6146
Not ideal, but if you hide the missing column from Metabase, you can run queries again. You can do this by following these steps:

* Go to the Admin Panel > Data Models
* Select the table from the side bar and scroll down to the missing column
* Click on the gear on the far right side
* Change visibility from "Everywhere" to "Do not include"

[2017-10-24 07:08] mvrabel commented on #5312
@eljakim
My workaround for this is to add quartal column into the table. Then group by qurtal and the date.

[2017-10-24 07:11] eljakim commented on #5312
But that would mean that for every table where people sort by dates I have to add extra columns for quarter, month, day_of_week, week_number, day_of_month. That seems a bit over the top because that would be 5 extra fields per date field, and if we go this way, probably also the year field because otherwise my users won't be able to find that field. That seems to defeat the purpose.

[2017-10-24 08:02] anandabudi opened #6246 "Problem when building docker image from scratch [Metabase v0.26.2]"
Hi, I have problem when building docker image with the latest Metabase release (0.26.2). When I was building the image, I got this error:

Could not find artifact io.crate:crate-jdbc:jar:2.1.6 in redshift (https://s3.amazonaws.com/redshift-driver-downloads)
Could not transfer artifact io.crate:crate-jdbc:pom:2.1.6 from/to bintray (https://dl.bintray.com/crate/crate): Access denied to: https://dl.b

[2017-10-24 09:11] M4zD4i opened #6247 "Impossible to copy any value from resulting table"
- Your browser and the version: Safari 11.0 (12604.1.38.1.7)
- Your operating system: MacOS Sierra 10.12.6
- Your databases: Apache Impala
- Metabase version: fork from 0.26.1
- Metabase hosting environment: Docker
- Metabase internal database: Postgres

Steps to reproduce:
1. Run some query in Builder to get resulting table
2. Try to select:
- value in some cell
- row
- all table
3. Try to copy s

[2017-10-24 09:21] mvrabel commented on #5312
@eljakim We have the same problem as you, but that's the workaround that we know of.
![inception](https://user-images.githubusercontent.com/12628893/31934817-7cec3184-b8ad-11e7-9540-2f97a9d02f5a.PNG)
When you group by a column (e.g. Date) the column is then removed from the list of columns you can possibly group by.
So the only way is to add another column.
Hi, @salsakran do you know if there is s

[2017-10-24 09:22] anandabudi commented on #6246
Anyway, looks like I solved this problem by compiling the JAR separately, and then use the `Dockerfile` inside `bin/docker/Dockerfile`

Thanks.

[2017-10-24 09:22] #6246 closed

[2017-10-24 11:31] sabino commented on #4432
@camsaul

If we had a Generic JDBC Driver, https://github.com/metabase/metabase/issues/3014
 - one could put all jar files in a folder
 - add the db connection using the URL
    - `jdbc:bigquery://https://www.googleapis.com/bigquery/v2:443;ProjectId=PROJECT-ID;OAuthType=0;OAuthPvtKeyPath=/PATH/TO/KEY.JSON;OAuthServiceAcctEmail=SERVICE-EMAIL@PROJECT-ID.iam.gserviceaccount.com;`
 - test the connecti

[2017-10-24 12:03] mnzt commented on #5246
![image](https://user-images.githubusercontent.com/10098811/31941985-b2b420f2-b8bb-11e7-8efe-21ad7ceae734.png)

Experiencing the same on 0.26.1.

[2017-10-24 13:39] senior commented on #6056
@dgleba I'm not sure why the official driver can't connect to your SQLServer instance, maybe you can help with troubleshooting it as I'm far from an expert in windows authentication.

When we setup the connection, we will prefix the name with the domain automatically, so your database username should just be `dgleba`. I think the above settings will cause 'STACKPOLE\stackpole\dgleba`.

If that doe

[2017-10-24 15:52] senior opened #6249 "Leiningen 2.8.0 causes `lein ring server-headless` to fail"
We were able to fix the SSL related issues in #6241, but there is another change in 2.8.0 that causes the ring server to fail to start with `No reader function for tag function`. This is being tracked on the Leiningen side as https://github.com/technomancy/leiningen/issues/2328 and has already been reverted. For now, downgrade to Leiningen 2.7.1. When 2.8.1 is released the problem should be resolv

[2017-10-24 16:08] dgleba commented on #6056
@senior - I tried username as dgleba. Same error.

Pic below shows  `integratedSecurity=true`  included. Same error.

I can connect the same way (integratedSecurity=true) using dBeaver with either the jtds and the MS drivers.

So - I still cannot connect with Metabase.

![image](https://user-images.githubusercontent.com/4622715/31954354-5d2912c6-b8b3-11e7-91bf-99dd9563530a.png)

[2017-10-24 16:50] mazameli commented on #5246
One place to start for everyone who's experiencing this is to first go through the timezone troubleshooting doc here: https://github.com/metabase/metabase/blob/master/docs/troubleshooting-guide/timezones.md

[2017-10-24 16:58] ebalgava commented on #5246
@mazameli this issue definitely isn't timezone related, as the same chart shows correct result in value label, just X-axis label is shifted

[2017-10-24 17:01] salsakran commented on #5246
@ebalgava the bar charts at that link look like they have matched axis ticks and tool tips.

Can anyone reproduce this with the sample dataset on 0.26.X?

We fixed a number of timezone issues in the most recent release, but it's entirely possible we missed some corner cases. Can you share more information about the underlying query, database timezone, your browser timezone, etc, and help us reprod

[2017-10-24 17:02] salsakran commented on #5246
@ebalgava fyi, there was in fact a class of timezone bugs related to situations where tooltips (or other representations) weren't correctly mapping to a timezone

[2017-10-24 17:02] ebalgava commented on #5246
@salsakran my example:
https://bi.ekosystem.slovensko.digital/public/dashboard/86ce303c-05bf-4947-bb39-d2a958208492

[2017-10-24 17:03] camsaul commented on #1374
@davidmir @j yeah, we haven't added support for that yet. We have an open issue for it: #5084

[2017-10-24 17:04] salsakran commented on #5246
This is what I see

![screen shot 2017-10-24 at 10 03 15 am](https://user-images.githubusercontent.com/107439/31957136-99bfa22e-b8a2-11e7-9514-e7f87aee6b11.png)

Can you point me to where in that dashboard you're seeing a discrepancy?

[2017-10-24 17:08] ebalgava commented on #5246
![diff](https://user-images.githubusercontent.com/29505976/31957313-ac12d260-b8ee-11e7-8b28-f29dd2157b03.png)

[2017-10-24 17:08] calmyournerves commented on #5246
Is this related to the browser time zone? It's wrong for me as well (CEST).

![image](https://user-images.githubusercontent.com/480921/31957332-b8d70d36-b8ee-11e7-82ec-8e7ee1086527.png)

[2017-10-24 17:31] mnzt commented on #5246
@salsakran Can you try casting to a DATE type? When grouping a timestamp by day (via casting to date) it appears Metabase interprets this as "Monday, October 23rd, 2017 12:00AM" in the tooltip, but appears as October 22nd on the X axis.

I'm guessing this is an issue surround the "12:00AM" bit.

[2017-10-24 18:33] nickcarenza commented on #3324
What kind of dev effort would this feature take? Is it something a newcomer to the project would tackle?

[2017-10-24 19:46] sldorman commented on #5823
This would be very helpful to me as well.  I don't want to embed the dashboards into my own app because the users want to interact with Metabase.  Ideally, my app would populate the table data with the user name and then launch Metabase, automatically logging in as that user (I know the auto login is a different issue, I'm just explaining my ideal use case).  The dashboards would appear and show o

[2017-10-24 20:57] Fjandin opened #6251 "Feature request (datetime/timestamp variable)"
When creating a custom SQL card, would be nice to be able to have a datetime type variable. At the moment i can only choose: test, number and date.

[2017-10-24 21:09] kdoh opened #6252 "Virtualize items in `AccordionList`"
As folks using Metabase start doing so with larger datasets with a ton of fields, UI elements that display unfiltered lists of content can cause DOM explosions and sluggishness that ruin people's days. One such day ruiner is `AccordionList`

Since we already use `react-virtualized` in other contexts to handle this issue, we should virtualize the contents of `AccordionLists`

[2017-10-24 21:09] pwm1991 opened #6253 "Cannot create metric from google analytics"
- Chrome 62
- Windows 10, Windows 8.1, 2 networks (if that matters)
- Database: Google Analytics, columns unconfigured.
- 0.26.2
- Java
- [logs.txt](https://github.com/metabase/metabase/files/1412456/logs.txt)

I have 2 issues with a GA database:

1. It's not possible to create metabase metrics using a google analytics implementation.
2. It is possible to query a ga metric in a Question in *limite

[2017-10-24 21:11] kdoh opened #6254 "Virtualize items in Selects"
Similarly to #6252, `Selects` with potentially unbounded children can cause a BadTime™ when populated with large dataset info. We should virtualize the list content to prevent from blowing up user's browsers.

[2017-10-24 21:19] wjoel commented on #2157
@sergiogabriel maybe it's the issue explained in this comment https://github.com/metabase/metabase/issues/2157#issuecomment-297255090 ?

[2017-10-24 21:19] mvrabel commented on #6251
Date == Datetime. Datetime if by datetime you mean Date + Time.
![last_modif](https://user-images.githubusercontent.com/12628893/31968528-b50cb548-b911-11e7-9847-ad9ac45d90bf.PNG)
If you want only time then upvote those two issues #5563 and #5319.
@Fjandin Please go through list os issues before submitting new issue. To make sure some before you didn't already create an issue for the problem you h

[2017-10-24 21:36] kdoh opened #6257 "Cache frontend vendor bundle in local development."
Starting up the frontend via `yarn run build-hot` takes a considerable amount time. I'd have to imagine a lot of this comes from our vendor bundle being so large and having to run all those deps through webpack / babel every time you wanna start working on the FE.

I'm curious if we'd be able to pre-build the vendor chunk and store it somewhere locally every time a dependency is added via `yarn ad

[2017-10-24 22:27] stevenheidel opened #6259 "Datetime fields do not respect timezones for Postgres "timestamp without time zone" field"
I have the following field in my DB:

[code]

An example field value is as follows: 2017-10-22 21:15:42.87162

I would like these times to appear in US/Pacific timezone. I have experimented with setting the JAVA_TIMEZONE when launching metabase as well as experimenting with the "Report Timezone" setting.

The documentation says: "Note that the Metabase instance's time zone doesn't impact any datab

[2017-10-25 00:32] mazameli opened #6261 "Designs for Alerts feature"
Designs for #1373

## Non-admin setup flow

Alerts are in the new "more" menu:

![admin setup 01](https://user-images.githubusercontent.com/2223916/32028644-86bb3ea6-b9a4-11e7-91d0-fb5d1b3adb3f.png)

The first time any user, admin or non-admin, clicks on the Alerts menu item, they'll see an educational screen letting them know what kind of alerts they can get in Metabase: a raw data query returnin

[2017-10-25 00:41] lago1970 commented on #6068
It has worked, indeed!
Thanks a lot!!

[2017-10-25 01:22] vacri opened #6262 "Modifying (mongo) db connection details blanks password"
When modifying an existing Mongo connection and hitting save, the UI shows a connection error, and a database auth error is posted to the metabase log. It does not occur on creating a new database. This might happen in other DB connection pages as well, but I only have mongo available.

A colleague found that if he pasted in the correct password (along with his other edits), it'd save cleanly and

[2017-10-25 07:18] joklee commented on #6056
Strange, with a AWS RDS instance works version 26.2 without problems.

[2017-10-25 08:25] sowmyaaguptaa opened #6263 "Metabase build fails: Uberjar aborting because jar failed"
Hey,

I am trying to build metabase source code available on github using ./bin/build command but in the end it fails and says -

"Uberjar aborting because jar failed: Cannot run program "make": error=2, No such file or directory"

My environment is as follows-

yarn version - 1.2.1
node version - 8.2.0
jdk version - 1.8.0_131
leiningen version - 2.8.0

Following is the output I get on running ./b

[2017-10-25 08:45] Fjandin commented on #6251
Ah yes. Sorry. I'm pretty new on metabase. I'm closing this one

[2017-10-25 08:45] #6251 closed

[2017-10-25 09:58] kelset opened #6264 "ELB & updating Metabase => deadlock"
Hey all,
I'll start right away with the details to contextualize:

Your browser and the version: `Chromium Version 61.0.3158.0 (Developer Build) (64-bit)` (but also happens with other browsers)
Your operating system: `MacOS X 10.12.6`
Your databases: `mongoDB` hosted on Mongo Atlas
Metabase version: `0.25.2`
Metabase hosting environment: EC2 Server on AWS (via ELB) (machine: t2.small) (os: `64bit

[2017-10-25 10:19] phiberjenz commented on #6186
I also get this error

[2017-10-25 13:01] cepix commented on #3200
Hi , any news about roles feature?

[2017-10-25 13:49] senior commented on #6071
The stacktrace is interesting. From what I can tell, there is only one database connection open and that is to MySQL. I'd need to dig in deeper to be sure, but what I think I'm seeing is 1 connection open and database being returned and an attempt to open a second connection that is somehow blocked.

Is it possible that the MySQL instance, or the user connecting to the MySQL instance is somehow li

[2017-10-25 15:03] M4zD4i opened #6265 "There is no difference in URL, ImageUrl, AvatarImageUrl fields displaying"
- Your browser and the version: Safari 11.0 (12604.1.38.1.7)
- Your operating system: MacOS Sierra 10.12.6
- Your databases: Apache Impala
- Metabase version: fork from 0.26.1
- Metabase hosting environment: Docker
- Metabase internal database: Postgres

Steps to reproduce:
1. Create some table containing urls for image, avatar and any other url
2. Mark out theses fields in Admin->Data Model panel

[2017-10-25 16:51] #5971 closed

[2017-10-25 16:57] MarkRx opened #6267 "Unauthorized attempting to relogin as a deleted user"
I was playing around with LDAP group settings and deleted a user so they could log back in and get recreated with LDAP group mappings. The user that was deleted however is not able to log back in. There are 2 REST calls when attempting to login:

[code]

I don't know if this is related to LDAP or not.

Steps to reproduce:

1. Login as an LDAP user
2. Logout
3. As an admin delete said LDAP user
4.

[2017-10-25 17:35] MarkRx commented on #6267
Update: Looked in the database. It looks like "deleted" users are just as inactive. Something must not be handling this case and reactivating the user.

[2017-10-25 18:41] sashankQ opened #6269 "Adding a dashboard filter to google analytics for example ga:country"
I am trying to add dashboard filter to question created on google analytics. When I add country as the filter then it says no valid fields. when I try to add ga:date as a filter and run then it could not load any data.

[2017-10-25 18:56] #6269 closed

[2017-10-25 18:57] sashankQ commented on #6269
Field type should be mentioned

[2017-10-25 18:58] camsaul commented on #3200
Hi @cepix, good news! We shipped this feature as part of our 0.20.0 release, so it's been available for a year or so. See PR #3087

[2017-10-25 19:01] philipbjorge opened #6270 "Consistently Missing Data in X-Ray"
Postgres
Metabase 0.26.2

I'm performing an X-Ray on a question where we take the count of rows, grouped by day.
We are seeing bands of missing results.

![screen shot 2017-10-25 at 12 00 01 pm](https://user-images.githubusercontent.com/918891/32017636-2bf8347e-b97c-11e7-84fa-2874419bb797.png)

[2017-10-25 19:06] sbelak commented on #6270
Can you show how the original time series (card) looks?

[2017-10-25 19:23] philipbjorge commented on #6270
@sbelak -- Is this what you mean?

![screen shot 2017-10-25 at 12 22 36 pm](https://user-images.githubusercontent.com/918891/32018595-39345cdc-b97f-11e7-980b-5014f230d99f.png)

[2017-10-25 19:35] sbelak commented on #6270
Yes, thank you.

[2017-10-25 20:09] kdoh opened #6271 "`yarn run test` should run unit tests first"
This is a tiny thing, but it'd be nice if when running the entire test suite locally via `yarn run test` we ran the unit tests first since they're pretty fast, that way if they fail we don't bother running the whole integration test suite.

[2017-10-25 22:57] chharland commented on #6108
I have the same issue, but on v0.26.2 and Posgres 9.6. Additionally, if I drop the offending table and force a sync of the db the entire schema associated with the table is removed. Then I need to sync again to get all the other tables back.

[2017-10-25 23:05] #6254 closed

[2017-10-25 23:10] camsaul commented on #5951
Implemented by #6260

[2017-10-25 23:10] #5951 closed

[2017-10-25 23:26] efredz commented on #4083
It could be done if Metabase supported the Date constructor, so we could do something like this:

    timestamp: { // 18 minutes ago (from now)
        $gt: new Date(ISODate().getTime() - 1000 * 60 * 18)
    }

[2017-10-26 00:07] mazameli commented on #6261
I just added in the non-admin edit flows (I'd forgotten to put them in last night), and made some visual tweaks to a number of screens per some conversations with @kdoh.

[2017-10-26 00:38] AddoSolutions commented on #1687
Big +1 on this one - can you point me to how foreign keys are implemented in something like MySQL?

[2017-10-26 01:02] sashankQ opened #6272 "Dashboard Date range filter to google Analytics data not working"
When we create a question with date filter of previous 6 months and try adding it to the dashboard with date filter the chart shows "There was a problem displaying this chart".
I have mapped the filter to  ga:Date variable

[2017-10-26 02:02] magno32 commented on #6263
I think you need to install 'make'.

Process varies for this by operating system.

[2017-10-26 04:13] futureio opened #6273 "TimeZone Problem [MySQL]"
**Version**: 0.26.1
**DB type**: MySQL
**TimeZone**: +8:00
**Table**:
[code]
**Data**:
[code]
--------------------------------------------------------
I found that in metabase, no matter what time zone you set, there are always two fields that are always right, like this：
2017-10-26  2017-10-26 **19**:57:33
or
2017-10-**25 16:00:00** 2017-10-26 11:57:33

I think it's a bug. Does anyone have the sa

[2017-10-26 05:02] bholemt commented on #2157
@wjoel I merged your branch with a fork I took from the latest release of metabase. It works great except one small thing. In the latest version there is a feature that lets you select a question as a table. However, questions I created on spark sql db are not shown here in "Saved Questions" menu (on the new questions page). Is it possible to address this? A big thanks again for your contribution.

[2017-10-26 05:57] jornh commented on #6267
Related #5842

[2017-10-26 09:24] peterwilli opened #6274 "Dates are off by one day in MongoDB with a pivot table when clicking on a item."
Hi there,

I currently have made a list with objects that have a start and end date. It looks like this:

![screenshot 2017-10-26 at 11 20 04 am](https://user-images.githubusercontent.com/1212814/32045089-aa6ad712-ba3f-11e7-9003-39e502bd1a21.png)

For some weird reason, if I click on a cell, and click "View these registrations", it shifts my query by one day:

![screenshot 2017-10-26 at 11 21 47 a

[2017-10-26 09:33] rbhalla commented on #3330
When adding multiple graphs on top of each other in the dashboard view, I would intuitively expect line charts and bar charts to stack on top of each other as visualised above.

[2017-10-26 09:52] hden opened #6275 "Unable to delete columns / fields"
- Your browser and the version: Chrome 61.0
- Your operating system: OS X 10
- Your databases: BigQuery
- Metabase version: master
- Metabase hosting environment: jar / Ubuntu 14
- Metabase internal database: MySQL

1. Connect to a new BigQuery dataset.
    - Minimal requirement: 1 table, 2 rows.
1. Manually add some metadata to the data models.
    - e.g. Descriptions, types, enums.
1. Delete the

[2017-10-26 12:26] nkconnor opened #6276 "Performance issues after update"
We use Metabase for large production databases. To our surprise yesterday Read Ops alarms were going off on a database all day and we eventually tracked it back to the update to 26.2

Looking through queries we see lots of `SELECT COUNT(*) FROM table` queries coming from Metabase. Is this part of the X-Ray features? Why is this enabled by default?

[2017-10-26 12:55] MarkRx commented on #6267
Yup. Closing in favor of #5842.

[2017-10-26 12:55] #6267 closed

[2017-10-26 12:55] MarkRx commented on #5842
I also encountered this. Some details in closed issue #5842.

[2017-10-26 13:39] keitarobr opened #6277 "Can't build uberjar"
Dear all,

following #6223, I've checked out the master branch, with the corrections applied (including commit 984728aedb9c5e0a97cc0e764d3bd654cf41ec2a). When trying to build the uberjar, the following error ocurrs. Environment is the same - no changes.

**git log:**

commit 984728aedb9c5e0a97cc0e764d3bd654cf41ec2a
Author: Kyle Doherty <kdoh@users.noreply.github.com>
Date:   Mon Oct 23 18:05:25 20

[2017-10-26 16:06] rbhalla commented on #6209
<img width="883" alt="screen shot 2017-10-26 at 17 03 07" src="https://user-images.githubusercontent.com/5897045/32063728-d7cc2758-ba6f-11e7-8ad5-644acb071e30.png">

Upgraded to 0.26.2. Seemed better at the beginning but now in alarm state for longer periods of time. Seems like a buildup of something being processed? Complete guess but I'll try and dig in a bit more.

[2017-10-26 16:42] jpulec opened #6279 "Not Setting Time Zone For Redshift Queries"
It seems that Metabase isn't properly calling the SET time zone function when running queries on Redshift. The current redshift driver sets this as a nil operation, but redshift does support setting the time zone for the current session which would fix queries for things like date filters.

- Your browser and the version: Chrome 62
- Your operating system: Arch Linux
- Your databases: Redshift
- M

[2017-10-26 16:46] stephenlamb commented on #1509
Hi guys!

I'm testing Metabase as BI report tool for my company. I really need to connect to a DB2 as a prerequisite to continuing tests. If not, I will be forced to use other solutions... And I really liked Metabase.

So, any news about this DB2 connector?

Thank You in advance!

[2017-10-26 17:06] lucascdsilva commented on #1509
Did you test the connector made by @wallce ?

[2017-10-26 17:12] dludwig-jrt commented on #1509
I had to modify the driver file originally posted by wallce since I am working on an older DB2 on an AS400.  To compile the project, download the latest git source with the latest tag release and place the attached file in the project directory structure metabase-0.26.1.1/src/metabase/driver/.  Note that you will need to place a copy of your DB2 driver in a plugins folder under the main project.

[2017-10-26 17:25] wjoel commented on #2157
@bholemt I'll look into it this weekend, I didn't know of that feature.

[2017-10-26 17:44] camsaul commented on #4802
Anyone? Bump

[2017-10-26 17:56] camsaul commented on #1509
Hi @wallce/@dludwig-jrt, instead of attaching ZIP files do you think you can just open PRs? That would make trying it out easier for everyone. They can just check out your branch instead of having to check out the main Metabase repo and then manually putting the `db2.clj` file in the correct directory.

[2017-10-26 17:58] stephenlamb commented on #1509
Thank you guys! I will try tomorrow and respond you.

[2017-10-26 18:19] alee792 opened #6280 "Feature Request: Most Recent Filter"
I was hoping that the team could implement a "Most Recent" time filter in the GUI that would grab records with the MAX(report_dttm).  For example, if I am logging events in a table, instead of viewing events that occurred in the past X minutes/hours/days/etc., I would like to view the most recent event.

Minor request, since it's easily accomplished through SQL, but useful nonetheless!

[2017-10-26 18:32] mfpinhal commented on #4802
Still happenning on 0.26.1:

Linear interpolated:
![image](https://user-images.githubusercontent.com/2720934/32070466-5887b20e-ba84-11e7-9fee-f163f33e7c3d.png)

Replace missing values with Zero:
![image](https://user-images.githubusercontent.com/2720934/32070449-45730358-ba84-11e7-97e6-96b2d9f9f102.png)

[2017-10-26 18:45] nickcarenza commented on #3242
It will have to be more than auto/on/off in case there are more than 2 series. If not auto, each series will need to be given an option of whether to use the left/right axis.

[2017-10-26 19:08] dludwig-jrt commented on #1509
See pull request:  https://github.com/metabase/metabase/pull/6281

[2017-10-26 19:41] camsaul commented on #4802
@mfpinhal can you show me what that data looks like as a table? Just a few rows or so should do

[2017-10-26 20:54] hagen commented on #6094
Perhaps another option @salsakran (having read #1704) is to connect to Google Sheets/ Microsoft Graph API to pull and query spreadsheet data? This alleviates the need to store csvs, either in H2 or a wroteable database. It’s also easy to upload csvs to these platforms.

[2017-10-26 20:55] notrom commented on #2187
I'm seeing this to, Chrome 62.0.3202.75 on Windows 7, Metabase v0.26.1

I can use the selector @BenWoodford described to delete a question, but that's not going to work for my end users. Would love to move forward with Meatbase but user self service is right up there on our requirements so this is a sticking point

[2017-10-26 21:08] #3959 closed

[2017-10-26 21:23] hagen commented on #6184
@doanvelagui thanks, I’ve done that too. this work around has to be done each time a new user joins. And the activity event is only recorded when the user logs in for the first time, which I don’t necessarily know, so the record hangs around for some time until I delete it.

The crux is - as you say - the _resource_ user-joined is not part of the permissions graph/matrix and therefore has no speci

[2017-10-26 21:42] hagen commented on #5654
Related to #5482 (Nested-nested queries not working)
and #1173 (joins across multiple tables)
It's unclear whether this functionality is now in metabase or not, and whether this is a bug or feature request.

[2017-10-26 22:05] doanvelagui commented on #6184
Yes, it is true that you don't know when a new user will join. Probably, something like this will be more helpful:

[code]

[2017-10-26 22:06] notrom commented on #2187
I just upgraded to v0.26.2 and for me this has resolved my issue. Thanks!

[2017-10-26 23:11] mazameli opened #6284 "Row charts are broken on master"
This is on Chrome on our stats instance.

Trying to do a simple gui question like count of rows of orders by product category and then changing it to a row chart gives a js error:

[code]

![screen shot 2017-10-26 at 4 08 30 pm](https://user-images.githubusercontent.com/2223916/32081066-10398cb4-ba68-11e7-904a-734791137917.png)

Hitting the in-app refresh button makes the visualization settings bu

[2017-10-26 23:37] sashankQ commented on #4899
@TomUssery  @salsakran  any update on this issue? I am also stuck in this situation.

[2017-10-27 00:08] kdoh commented on #2187
Glad to hear it @notrom. Thanks for letting us know.

[2017-10-27 00:12] mazameli commented on #6188
I can't reproduce this on 0.26.2 on Chrome on macOS. The only thing I'm seeing is inconsistent sizing/positioning of the box, maybe due to that PR we merged that trimmed down the height of the main nav?

![screen shot 2017-10-26 at 5 10 43 pm](https://user-images.githubusercontent.com/2223916/32082481-b763ce66-ba70-11e7-957a-a7ea2053268c.png)

![screen shot 2017-10-26 at 5 10 03 pm](https://user-i

[2017-10-27 00:19] kdoh commented on #6188
@mazameli Ah yeah good catch I didn't realize that would be affected by trimming the nav down. I can cut something to look into that.

As far as the done button goes the way to repro it is to use momentum scrolling, the rubber banding when you hit the top sometimes shows it. That to me says something is not properly un-mounting in the component when a user hits done, but since it's only discoverab

[2017-10-27 02:44] qin4zhang opened #6285 "Pulse no results"
### Bugs
- Your browser and the version: Chrome 61.0.3163.79
- Your operating system: Windows 7
- Your databases: Postgres 9.6.5
- Metabase version: v0.24.1
- Metabase internal database: H2 (default)

- *Repeatable steps to reproduce the issue*
I have installed metabase of the above version and when I use pulse to sent email to test, it shows "no results", in fact the questions have results, how t

[2017-10-27 09:52] baksale commented on #6029
+1
happened to me to.
Checked with database developer - system keeps hundreds of cursors with the same query.

[2017-10-27 10:15] seboudry opened #6286 "Restrict schemas on database configuration"
Hi!
I'll be great for performance and usability to restrict database configuration to a list of schemas.
In our team we're dealing with one Oracle database instance that contains a lot of schemas/owner for different purposes/teams. We only needed a few ones.
So, Metabase analyse take a very long time for irrelevant metadata for us. And it takes a lot of resources.

⬇️  Please click the 👍 reaction

[2017-10-27 12:02] Leoat12 commented on #6056
I had a similar problem with my SQL Server when I updated from 2.5.2 to 2.6.2. The connection was working just fine with the 2.5.2 version, but it stopped working after the update.
Apparently it is not working with domain accounts.
My configurations were as follow:

Windows Domain: DOMAIN.com
Database Username: USERNAME (No slash and domain name here, just the username)
No additional configuration

[2017-10-27 13:27] senior commented on #6056
@Leoat12 I'm not familiar with the different types of accounts used to log into SQL Server. Could you give some more detail about what kind of account you were using before that wasn't working and what the difference is between that and the SQL Server account that you're using that works?

[2017-10-27 13:44] keitarobr commented on #6277
Dear khod,

I've upgraded my environment as follows but still face the same issue (using latest master branch):

rodrigo@ubuntu:~/Projetos/metabase$ java -version
java version "1.8.0_151"
Java(TM) SE Runtime Environment (build 1.8.0_151-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.151-b12, mixed mode)
rodrigo@ubuntu:~/Projetos/metabase$ node -v
v8.8.1
rodrigo@ubuntu:~/Projetos/metabase$ yarn -

[2017-10-27 17:36] larsboehnke commented on #1173
+1

[2017-10-27 19:36] joebocop commented on #3960
Can this JDBC driver be used as a starting point at least?
https://s3.amazonaws.com/athena-downloads/drivers/AthenaJDBC41-1.1.0.jar

[2017-10-27 19:49] mazameli commented on #5870
I've thought about this a little, and here's one way that I think this could work:
1. The filter popover menu doesn't change at all.
2. When each filter after the first is added, it defaults to ANDs in between, as this is the existing (invisible) behavior.
3. Clicking on the AND simply toggles it to an OR, and vice a versa.
4. The X button on filters has been moved into the filter token to reduce

[2017-10-27 19:49] joevandyk commented on #5859
This is a bit of an annoyance for us, as excel doesn't recognize dates like `2016-01-01T00:00:00.000Z`

[2017-10-27 23:03] kreno commented on #3167
![gear](https://user-images.githubusercontent.com/4562607/32128116-920aba30-bb38-11e7-9264-a3176b8cc8a0.png)
Click on the gear, see pic.  Once you're in that section, you can drag the column names up and down.  I couldn't find it either.

[2017-10-27 23:10] csawyerYumaed commented on #3992
This seems very much related to https://github.com/metabase/metabase/issues/5295 (XLSX)
and I hope order would be preserved as well.

[2017-10-27 23:11] kreno commented on #3992
Yes, please.  The export isn't much good to our users if it is different than the settings on the screen.

[2017-10-27 23:33] miguelmota opened #6288 "Option for CSV export for dashboard table"
Currently you can export to CSV when you edit a question (which is awesome), but there is no option for exporting when the question is in a dashboard. Is this possible or are there any plans for this in the near future?

Thanks

[2017-10-28 02:40] Leoat12 commented on #6056
@senior
SQL Server accepts two types of accounts to have access of the database engine: Domain Account or SQL Server Account. A domain account is an account that was created in an Active Directory. An Active Directory allows you to use the same account in multiple computers in an organization  and in compatible applications, mostly by Microsoft, including SQL Server. When you use a domain account

[2017-10-28 11:06] moumny opened #6289 "Wierd issues with timezones on druid"
Hi guys,
Congrats for the release of 0.26, im quite happy to see many bugfixes in it. However i catched several regressions. Here is one of them:

Database: druid
Timezone: Europe/Berlin (report, server)
Version: 0.26.2

Query:
- timeseries of count of rows.
- Below several combination of filter and group bys

* count of rows
    * previous day - by hour
        * linechart - correct 12AM to 11PM

[2017-10-28 11:21] moumny opened #6290 "Raw queries with "ON" datefilter are broken for Druid [Regression]"
Hi,

Since metabase 0.26.2, there is an issue with raw queries that have a filter set to ON specific date or time. When filter "on XX/xx/2017" is added only 1 record (i guess first) is shown in the "details"/"1 record" format instead of a table with all records.
This does not happen if filter is changed to past X days for example or current day.

Database: druid

[2017-10-28 11:27] moumny commented on #6289
Given the number of issues with timzone, i think it would be beneficial to have some tests in the front end for such things, esp as with drillthrough there is a lot of time handling.
Perhaps changing from datetime values to a more explicit structure that contains timezone would also help instead of relying on frameworks which can lose timezone during conversions.

[2017-10-28 11:52] moumny commented on #6230
Could replace the current Druid driver !
Druid SQL driver would support make it more inline with other drivers, benefit from query optimizations

[2017-10-28 12:03] moumny commented on #5944
Behavior changed in 0.26.2
Seems Druid behaves like other databases, the time in the filter is wrong(utc) but the its the correct displayed data.

Note that its not a problem if you drag to filter instead of selecting a single point

[2017-10-28 12:13] mfpinhal commented on #4802
@camsaul, looking deeper, I think I found something else, notice the dates on the chart, they don't match the values displayed, and same **weeks** label are repeated:

Replace with 0's:
![image](https://user-images.githubusercontent.com/2720934/32134247-1aecac66-bbe1-11e7-81c9-d28afa979ee1.png)
![image](https://user-images.githubusercontent.com/2720934/32134232-bad37544-bbe0-11e7-871f-ee8436ea554b

[2017-10-28 12:15] mfpinhal commented on #4802
Probably related to https://github.com/metabase/metabase/issues/5916 (actually, both cases refer to the same Metabase instance).

[2017-10-28 16:46] mazameli commented on #6288
Closing as duplicate of https://github.com/metabase/metabase/issues/3847

[2017-10-28 16:46] #6288 closed

[2017-10-29 05:30] mknippen commented on #2327
+1 for this feature

[2017-10-29 15:00] wjoel commented on #2157
@bholemt It seems that feature will require support for `:nested-queries`, which will not be included in the first release. I can't get the feature to work even with the sample dataset (using the H2 driver, which should support nested queries) either, so I'm not sure that the Spark SQL driver is the problem.

The questions I save do show up in the list of questions, but you're correct in that they

[2017-10-29 15:52] alichq opened #6292 "Add calendar to Metabase"
Is it possible to add new calendar in Metabase? How? (for example Jalali calendar)

[2017-10-29 21:07] hagen commented on #6163
Close this. My fault.
Lots of things go wrong when you put Metabase behind AWS CloudFront. Note to self - don't do that again.

[2017-10-29 21:07] #6163 closed

[2017-10-29 21:08] hagen commented on #6105
Close this. My fault.
Lots of things go wrong when you put Metabase behind AWS CloudFront. Note to self - don't do that again.

[2017-10-29 21:08] #6105 closed

[2017-10-30 09:01] whitemark opened #6293 "queries using set search_path = schema_name do not seem to work in metabase?"
Hello All

I'm using metabase to query a greenplum cluster, all works well, metabase is absolutely fantastic, just a problem, I have numerous schemas and it seems I cannot make the schema_path to work

I'm trying to setup the path to a schema, my query is :

set search_path = data;
SELECT "data"."test"."column1" AS "column1"
FROM "data"."test"
LIMIT 2000

Metabase returns the message "No results w

[2017-10-30 09:03] moumny commented on #6289
My bad, actually not a regression ^^

[2017-10-30 09:17] mvrabel commented on #6280
@alee792 You can accomplish this by clicking on the colmn name of "report_dttm" column and then choose "Descending".

Example:
![last_modif_filter](https://user-images.githubusercontent.com/12628893/32163042-402c286e-bd5b-11e7-8dbc-7f7822952540.PNG)

[2017-10-30 11:48] rbhalla commented on #6209
For anyone stumbling upon this issue, disabling xray "solved" this problem.

[2017-10-30 12:43] jonatasfreitasv opened #6294 "Run Metabase in Kubernetes more then one container on same Postgree"
Hi guys.

I'm trying to run Metabase on a structure in Kuerbentes with more than one container.

It runs, but I think it's giving some trouble.

Is this architecture possible? Are there risks?

[2017-10-30 13:42] alee792 commented on #6280
@mvrabel Almost, but not quite. That would just reorder data.

`SELECT report_dttm, feature
FROM table
ORDER BY report_dttm DESC`

I would like a query result or visualization to return **only and all** the records matching the maximum timestamp of a column.

`SELECT report_dttm, feature
FROM table
WHERE report_dttm = (SELECT MAX(report_dttm) FROM table)
`

[2017-10-30 14:01] nurey commented on #6120
The docker version doesn't seem to be detecting that 0.26.2 is out.

[2017-10-30 14:41] LienM opened #6295 "Some setups of ProxySQL and PgPool errors with "No implementation of method :post-insert""
Hosting environment: Kubernetes (k8s)
Internal Database: Postgres
Metabase version: You're on version v0.26.2
My databases: All Postgres
_Operating system: OS X Sierra
Browser: Chrome_

Most of the time I can query "raw data" fine, but always when I use the Query Builder I get one of the following error messages in the dashboard:

Most of the time this is caused by an invalid selection or bad inpu

[2017-10-30 14:47] LienM commented on #6295
Further investigating as I'm very aware I'm not giving you much to go on...

Issue seems to be triggered by adding a group-by clause.
Writing SQL as is works, until group by is added, then same error occurs.

[2017-10-30 14:49] LienM commented on #6295
Issue also persists when clicking "Refresh", whatever changes I makes to the query. When I refresh the page and click the button "Get Answer", on a query that worked in the past, it works again.

[2017-10-30 17:04] mazameli opened #6296 "Maybe we should abbrev. month names on axes"
Our x-axes are starting to look better and less crowded, especially after we merge @camsaul's [PR](https://github.com/metabase/metabase/pull/6283), but I wonder if we should maybe help things even more by using the standard abbreviations for month names (Jan, Feb, Mar…), possibly only in situations where there are more than _n_ number of tick marks.

Here's an example of a case where it might decr

[2017-10-30 17:39] #6270 closed

[2017-10-30 17:39] #5743 closed

[2017-10-30 18:48] jornh commented on #6294
Related #2754

In particular see https://github.com/metabase/metabase/issues/2754#issuecomment-225764248

[2017-10-30 19:09] camsaul commented on #2327
Hey everyone, one way we prioritize issues is by sorting them by the number of 👍 reactions on each issue's description. So instead of leaving `+1` or 👍  comments, please just upvote by adding a reaction to the issue description.

[2017-10-30 21:01] senior commented on #6261
PR with the implementation is https://github.com/metabase/metabase/pull/6278

[2017-10-31 00:11] joshhopkins opened #6297 "GraphQL connector"
### Feature requests and proposals

With the rise of GraphQL and PaaS like services, it would great to leverage GraphQL's introspection as a way of creating data models from within Metabase.

⬇️  **Please click the 👍 reaction instead of leaving a `+1` or 👍  comment**

[2017-10-31 01:14] lazmo88 commented on #1652
@mapix - I am exactly in that situation, but out of luck figuring out how to compile your repo into executable .jar... Do you have it compiled somewhere? ;)

[2017-10-31 02:29] qin4zhang opened #6300 "Add color-picker to metabase"
Is it possible to add color-picker in Metabase for more choices?

[2017-10-31 03:42] lazmo88 commented on #3941
@ston3o This worked for me as well! Thanks :) I was able to run tunnel connection from my local computer to the remote server in my initial testing, however when I installed Metabase to my cloud server and tried using the GUI for setting SSH connection, it failed as mentioned by OP. However manually creating ssh tunnel to the remote server worked. I believe there is something wrong with Metabase G

[2017-10-31 05:56] jainmukesh commented on #4407
I am interested in war distribution to install on Jboss / Wildfly.

[2017-10-31 08:57] jakob commented on #1185
I just wanted to mention that I support this idea. I evaluated Metabase in response to [this pull request](https://github.com/PostgresApp/PostgresApp/pull/416), and the signup flow was a real turn-off.

When I started with PostgreSQL and evaluated software to go with it, I threw out a lot of apps because setting them up was such a hassle.

It's also unclear whether any of the data from the signup

[2017-10-31 09:06] jakob opened #6301 "Can't resize window of the Metabase Mac App"
- I've downloaded the Metabase Mac app version 0.26.2.0 from https://metabase.com/start/mac.html
- I'm running Metabase on a 13" Macbook, early 2015, macOS 10.12.6

Problem: The Metabase window is bigger than the screen, so some content is cut off at the bottom. Resizing it is not possible. Dragging the window behaves erratically.

This occurs only when I use my internal display (1280x800 pixels).

[2017-10-31 09:13] jakob opened #6302 "Wording on Mac App Download page could be improved"
The Mac App Download page (https://metabase.com/start/mac.html) contains the following instructions:

This is inaccurate (the disk image is not an "Installer"), so the wording should be changed.

I'd recommend to change this to something simpler like this:

(Or just skip the instructions altogether, it's not hard to figure out.)

Mac users don't really like installers. The fact that Metabase doesn

[2017-10-31 14:03] ston3o commented on #3753
I have this error too:
`java.lang.UnsatisfiedLinkError: org.sqlite.core.NativeDB._open_utf8([BI)V`

metabase version: v0.26.2

[2017-10-31 15:36] attekei opened #6303 "Pulses: Unsubscribing fails if you don't have a write access to all its questions"
If some other user has created a pulse where you are subscribed, but you aren't allowed to edit the pulse (because of missing write permissions to questions contained by that pulse), you aren't able to unsubscribe either.

The pulse looks like this in the pulses list:
![screen shot 2017-10-31 at 17 33 11](https://user-images.githubusercontent.com/6034928/32232918-d76a492a-be61-11e7-9eac-b873fd2e53

[2017-10-31 16:37] mazameli commented on #6261
@attekei I inserted two screens into the description above to depict what the alerts list looks like in the state where a non-admin has been added to at least 1 alert, but hasn't created their own; and the state where an admin is looking at the list of alerts but has not yet created their own alert. In both cases, an identical bottom div is added to the list with a link to "create your own alert."

[2017-10-31 17:22] dholdaway opened #6304 "Where in the metabase database are user questions saved?"
I would like to extract all my user questions

are they stored in a table in the metabase db?

thanks

[2017-10-31 17:39] mrdeds commented on #6105
How did you solved this?

[2017-10-31 17:57] camsaul commented on #1652
@lazmo88, are you using Windows? If so, try using the [Windows Subsystem for Linux](https://msdn.microsoft.com/en-us/commandline/wsl/about) which will let you build the JAR with the least amount of hassle.

[2017-10-31 17:59] camsaul commented on #6304
Hi @dholdaway, they're in the `report_card` table.

[2017-10-31 17:59] #6304 closed

[2017-10-31 18:07] attekei opened #6305 "Pulses: I shouldn't see a pulse if its questions have FK filters/aggregations to tables I can't access"
Let’s say that you have a question where
   - `source_table` is something you have access to
   - there are one or more FKs in filters/aggregations to fields in tables where you don’t have an access to

Currently, the pulse containing that question is still visible to you, and seems like you could edit it:
<img width="880" alt="screen shot 2017-10-31 at 20 05 08" src="https://user-images.githubuse

[2017-10-31 18:09] attekei opened #6306 "Pulses: Any user can delete any pulse"
The `DELETE /api/pulse/:id` endpoint doesn't check at all if the current user has write permissions to the pulse or not. Even as a non-admin I'm able to remove any pulse I want.

[2017-10-31 20:21] lazmo88 commented on #1652
@camsaul I was trying to compile with Ubuntu Linux, but sure I have windows as well ;) I will test it out! Thanks!

[2017-10-31 20:29] camsaul commented on #1652
Oh sorry @lazmo88. I misread your error message. It sounds like you need to make sure `ps` is installed? (Surprised this is not installed by default.) `sudo apt install ps` should do it

[2017-10-31 21:02] hagen commented on #6105
I had Metabase behind a CDN. The CDN was caching an API response that had no tables in it. As soon as a moved it from behind the CDN, all API queries showed correct response.

[2017-11-01 01:35] lazmo88 commented on #1652
@camsaul ps is actually installed (even reinstalled procps package) and it works from command line, however the script still returns the same error. Also the weird thing was that build won´t start unless nodejs is version 4.4.7 (fixed this with nvm).

If I run the command ps -fp PPID it works fine, it will return the process running.

As said, I am totally lost with this one. Development guide mad

[2017-11-01 01:48] adjenks commented on #5925
This is also a problem for me. I assign colours by label but they change when the statistics change. It seems to be assigned by the order of the labels, not by the names but the order they appear in. So like in the image above by @alirezastack , the colors are always assigned in the order blue, green, purple, red.

[2017-11-01 01:55] mrdeds opened #6309 "Unable to resolve driver for query."
I'm using a new metabase installation in a server, with a postgres database for the backend.

I did some questions in the platform, but suddenly the questions when opened showed this:
![image 1](https://user-images.githubusercontent.com/9302082/32256551-b2a49d7c-be7d-11e7-8012-4ab3ad1f8398.png)

If i make another question with the exact same query it shows the data without problems. The issue is o

[2017-11-01 03:54] lindsay-stevens commented on #6309
I've seen this problem too, with chrome, postgres, and metabase v.0.26 and SQL questions, but on Windows.

When it happened for me, the cause was that the source database for the question was removed. So if you check the Chrome developer tab, and look in the query definition (the "card" endpoint, or just out of view in the log you posted) there'll be a "dataset query" object with a "database" ID.

[2017-11-01 04:21] mrdeds commented on #6309
Great! I’ll try that

[2017-11-01 04:31] lindsay-stevens commented on #6293
Probably since SET is a separate command the driver considers it to be the "result" rather than the subsequent SELECT command. Here's a couple of options:

- Use [ALTER ROLE](http://gpdb.docs.pivotal.io/510/ref_guide/sql_commands/ALTER_ROLE.html) to set the search path configuration parameter as a default for the role you're connecting with, which means it'd be the default for all questions using

[2017-11-01 04:45] sowmyaaguptaa commented on #6263
@magno32 Thanks a ton!
I installed make and that worked like a charm and I got my jar file.
But while building the jar an error came up which did not stop the build process -

Sample Dataset already generated.
Running 'lein uberjar'...
Compiling metabase.core
log4j:ERROR Could not instantiate class [metabase.logger.Appender].
java.lang.ClassNotFoundException: metabase.logger.Appender
        at ja

[2017-11-01 13:14] btrebbien commented on #4500
I'm also extremely interested in this. For metrics such as cycle time where lower is better, the concept of a progress bar doesn't work as currently implemented. I use gauges as well from grafana but would love to bring this functionality into my metabase implementation.

Is there any ETA for this enhancement?

[2017-11-01 14:43] cah-brandon-trebbien opened #6310 "Question (built using saved SQL question) not able to be filtered in Dashboard"
- Your browser and the version: Chrome Version 61.0.3163.100 (Official Build) (64-bit)
- Your operating system: Windows 10
- Your databases: Oracle 12
- Metabase version: 0.26.2
- Metabase hosting environment: Linux/RHEL 7
- Metabase internal database: MySQL 5.7

- *Repeatable steps to reproduce the issue*

1. Generate a freehand SQL based question which includes a SQL parameter. Ex. List of Facil

[2017-11-01 16:44] RWiggers commented on #2608
Same problem here

![image](https://user-images.githubusercontent.com/11998265/32285965-20c436ba-bf13-11e7-8a9a-fe874f4a0f6a.png)

[2017-11-01 17:33] cah-brandon-trebbien opened #6312 "Manual Setup of Foreign Key - Can't search for specific table"
Your browser and the version: Chrome Version 61.0.3163.100 (Official Build) (64-bit)

Your operating system: Windows 10

Your databases: Oracle 12

Metabase version: 0.26.2

Metabase hosting environment: Linux/RHEL 7

Metabase internal database: MySQL 5.7

Repeatable steps to reproduce the issue

1. Go to data model. Find a field which was imported as a category but really is a foreign key. Change

[2017-11-01 18:05] camsaul commented on #1652
@lazmo88 maybe try a newer version of node? I'm using `8.2.1` and it works for me

[2017-11-01 18:35] kdoh commented on #3649
Done in #6122

[2017-11-01 18:35] #3649 closed

[2017-11-01 22:45] btrebbien commented on #6310
Update: I found this blog https://www.metabase.com/docs/latest/users-guide/13-sql-parameters.html

I completed the setup with my SQL having
select *
from table
where 1 = 1
and {{variable}}

and set the variable type to Field Filter and linked it to the specific columns table. I refreshed the dashboard and can see the SQL question returning results as expected; however, clicking into the question f

[2017-11-01 22:49] mazameli opened #6316 "We should add field descriptions to lists of fields in the Data Reference"
Right now we're only showing Name, Field Type, and Data Type in the `Fields in this table` sections of the Data Reference. Descriptions would be useful, wouldn't they?

![screen shot 2017-11-01 at 3 48 29 pm](https://user-images.githubusercontent.com/2223916/32301692-4226c7a6-bf1c-11e7-927e-f1325b91b5f2.png)

:arrow_down: Please click the :+1: reaction instead of leaving a `+1` or `update?` commen

[2017-11-01 23:08] camsaul opened #6317 "Clicking link to unsaved question when logged out takes you to 404 page after login"
1.  Have a link to an unsaved question (of the form `<host>/question#<giant-hash>`)
2.  log out
3.  click the link or paste into browser address bar
4.  log in
5.  you get redirected to 404 page

Of course you would expect to be taken to the question rather than the 404 page in step 5.

[2017-11-02 01:25] mrdeds commented on #6309
So I changed the queries of the questions and now they are working with the new database.
I think @lindsay-stevens 's suggestion is good, but also the chance to change the data source of the questions.

[2017-11-02 06:09] tlrobinson opened #6318 "When switching back to "Raw Data" we no longer clear breakouts and set the visualization to "table""
Previously when you switched the "View" to "Raw Data" we would clear any breakouts and switch back to the table visualization. This no longer happens so you often en up with a strange result.

[2017-11-02 06:13] mokra commented on #5870
This is great!
I like it, how you simplified it - especially with the "X" moving to the filter

[2017-11-02 08:17] on99 opened #6319 "Stack overflow"
### Bugs
Stack overflow, but do not know how to reproduce. Logs attached as follow.

- Browser: Version 61.0.3163.100 (Official Build) (64-bit)
- OS: macOS Sierra
- Database: MySQL 5.6
- Metabase: 0.26.2
- Metabase hosting environment: docker
- Metabase internal database: MySQL 5.6

![image](https://user-images.githubusercontent.com/13196393/32315977-41282264-bfe9-11e7-9b80-df6ffdd329b2.png)
![ima

[2017-11-02 11:06] aksmasmt commented on #2157
Hi @wjoel , got my sparkSQL integrated smoothly with your release.

To have a go at :nested-queries, I checked out the spark-sql branch in your repository wjoel/metabase. But, the jar that was generated by compiling it, was different from this: [https://wjoel.com/files/metabase-sparksql-drill-2017-10-29.jar](https://wjoel.com/files/metabase-sparksql-drill-2017-10-29.jar). The jar I generated by co

[2017-11-02 12:34] wjoel commented on #2157
Hi @aksmasmt, I actually enabled nested-queries in the last push I did
yesterday, so you could try just building from my branch. It passes the
tests, at least. You need to enable foreign-keys in the drivers (they've
been commented out, since the tests don't work with drivers that do not
also support creating foreign keys), but then it should have the same
functionality as what I uploaded.

On Thu,

[2017-11-02 12:45] glasset opened #6320 "Add filter to google analytics question (native queries)"
Hello,
im trying to link a filter on ga question from dashboard, but i find nothing on that. (my goal is filter by ga:pagePath from a dashboard)

I've tried this:
- add filed type 'category' on my ref (ga:pagePath)
- then try to link with category filter on my dashboard

query
[code]

edit: field filter work only with query builder ?

⬇️  Please click the 👍 reaction instead of leaving a `+1` or 👍

[2017-11-02 17:33] camsaul commented on #6319
It seems like maybe it's using itself as a source query leading to an infinite chain of nested queries

That shouldn't be allowed. I'll take a look at this

[2017-11-02 19:15] savraj commented on #3363
Another angle on this is

Then, you can set a user group to either see Personally Identifiable Information or not.

-s

[2017-11-02 20:28] MarkRx opened #6321 "AppDB: Support Oracle Application Database"
Currently Oracle is supported as a database driver. It would be great if it was also supported as an application database backing the metabase configuration tables.

At the very least it needs to be included in spec.clj:
https://github.com/metabase/metabase/blob/68739beb62031627c16abdde073bfb9d962e33d0/src/metabase/db/spec.clj

⬇️  **Please click the 👍 reaction instead of leaving a `+1` or 👍  comm

[2017-11-02 21:46] adjenks commented on #3948
@jackolicious Amen!

[2017-11-02 22:53] whitemark commented on #6293
Hello
Thanks, the alter role works, it is not ideal but it works if you have just one schema per user, if you have more than one schema per user it becomes tricky

We are using some very large and complex queries (heaps of them) and they are the same for all the users, to rewrite the lot to include database.schema.table in each statement would take ages and be prone to errors, being able to have t

[2017-11-03 03:09] on99 commented on #6319
@camsaul

I am not sure because it works several days ago and my colleagues made many changes. It is not using itself as a source query. I'll let you know if I find out the exact procedure to reproduce this issue.

[2017-11-03 05:30] goodfella1408 commented on #3847
PR for download functionality on dashboards (only on embedded dashboards for now) -
https://github.com/metabase/metabase/pull/6322/commits/c8bb27b704d43d12629beb39e6be277510581d81

[2017-11-03 05:55] goodfella1408 commented on #5775
PR for this-
https://github.com/metabase/metabase/compare/master...goodfella1408:bug_5775?expand=1

[2017-11-03 11:40] zejji commented on #6114
Any thoughts from anyone who is able to understand the Clojure source code?

This is a pretty major issue. It basically means that it is currently impossible to host Metabase on a different server from the database server (at least when using Docker), so it would be really helpful to have a fix.

[2017-11-03 11:50] jeremyjh commented on #2607
@salsakran This issue also prevents me from effectively using Heroku Postgres as a reporting source. Heroku Postgres will randomly change usernames/passwords. Since I'm also running Metabase in Heroku, I can attach the source database and access it's connection string via environment variables that are guaranteed to be correct. But unfortunately Metabase provides us no means to make use of it.

[2017-11-03 15:52] magno32 commented on #6263
I don't know if this will affect anything.  I see the same message, but due to #6277 I can't build the project at all. (this message happens before the build fails though)

[2017-11-03 15:55] magno32 commented on #6277
I get this as well, including on the docker file (`docker build .`).

[2017-11-03 16:29] magno32 commented on #6277
Correction... I tried `docker build .` on a different computer and it works fine. I would think that docker would create an identical environment on both machines.

So I tested directly on the machine itself, again my desktop PC fails to build the project, yet my laptop builds it fine.

I'm really confused by this but will keep looking.

[2017-11-03 17:46] salsakran commented on #2607
@jeremyjh Heroku will inject an applications database creds via environment variables, but to my knowledge doesn't do that cross application. I.e. in your situation, you'd be able to access the _Metabase application database_ but not your actual applications, unless you're doing something weird and running us side by side your server in a single Heroku application.

Practically, any database that

[2017-11-03 18:06] mazameli commented on #6284
Labeling this p1 because it's a regression that breaks a feature.

[2017-11-03 18:13] mazameli commented on #5323
We haven't heard any users reporting that this problem has persisted since #5510 was merged. I motion that we close this issue.

[2017-11-03 18:14] mazameli commented on #4565
This one drives me nuts. It's an annoying UX problem, because it means that when someone is playing around with the sample dataset on a fresh installation, some of our features don't seem to work correctly, where in fact it's because a bunch of numeric fields are misclassified.

[2017-11-03 18:19] #5323 closed

[2017-11-03 18:23] MarkRx commented on #6263
I am also encountering the same message from https://github.com/metabase/metabase/issues/6263#issuecomment-340977035

[2017-11-03 18:26] camsaul commented on #6319
Thanks @on99. I spent a while yesterday trying to figure out how to reproduce this but didn't have any luck. Let me know if you figure out how to do so

[2017-11-03 18:35] camsaul commented on #6321
This would be a lot more work than just adding a DB spec function. Oracle doesn't support SQL `LIMIT` clauses, so we'd have to rework huge chunks of the application to use `NEXT n ROWS ONLY` instead. And that itself is only supported on Oracle 12+, so Oracle 11 or older wouldn't work (and I really don't seeing us rewriting every query we have as a subselect so we can use the `SELECT ... WHERE ROWN

[2017-11-03 18:42] camsaul commented on #6321
Testing/developing would be a little annoying as well. Most of the Metabase devs use macOS for day-to-day stuff and AFAIK the only way to run Oracle locally on it is with a Docker. It sounds like Oracle wants you to [build your own docker image](https://github.com/oracle/docker-images/tree/master/OracleDatabase) if you want to do that. So there's a few extra steps there too

[2017-11-03 18:47] camsaul commented on #6284
I'll take a look at this

[2017-11-03 19:18] sbelak commented on #4565
Only price is explicitly marked as category. Shall I change it?

[2017-11-03 19:19] salsakran commented on #4565
Yeah, that sounds like a mis-classification.

[2017-11-03 19:20] sbelak commented on #4565
K. I'll change it next time I regenerate the dataset.

[2017-11-03 20:32] jeremyjh commented on #2607
@salsakran You can attach a Heroku database to multiple applications, which will mean the credentials are injected into each. I agree that Heroku doesn't care about anything not running in Heroku, but in our case Metabase runs in Heroku.

Even outside of Heroku, I could see using environment variables for security credentials but admit its probably not something a lot of people are asking for.

If

[2017-11-03 21:22] #6284 closed

[2017-11-03 23:21] zikegcwk commented on #3948
Is there anyone looking at this? It seems to be a huge pain.

[2017-11-03 23:47] zikegcwk commented on #3948
just solved this - you can just get connected to the metabase metadata db, and then set all the metabase_table.display_name = metabase_table.name. Do the same for field and you should be all good.

[2017-11-04 04:17] hai-ld commented on #1689
Hello,

Not sure whether this issue is the right place to discuss this, but marking a table as **Hidden** or a column as **Do Not Include** has no effect for raw queries. I'm quite surprised to discover this. I think the UI for metadata editing should provide a clear security disclaimer message. Currently, for **Do Not Include**, the message is "Metabase will never retrieve this field. Use this fo

[2017-11-04 16:02] jeremyjh commented on #2607
@salsakran Nevermind, I learned that if you create additional credentials in Heroku that they are not rotated automatically; they would only rotate manually. So that looks like the proper answer here. https://devcenter.heroku.com/articles/heroku-postgresql-credentials

[2017-11-04 18:54] kdoh opened #6325 "Google Analytics based queries should not show the run button until a metric is selected."
This happens on first run when doing a new GA based query. After selecting the GA account (which we treat as a "table") we're not popping up the aggregation popover and we show the run button which gives you the sense that things are fine and ready to go. This is exacerbated if you're popping between a DB backed and GA backed query you're used to Raw data being defaulted and being able to run the

[2017-11-05 10:59] mokra commented on #1451
+1 russian, german

[2017-11-06 00:42] cyberhorse commented on #5603
May I suggest that one or more of the following is considered:
- if the column name has spaces, use it as is (likely that the label is already set as appropriate)
- if the column name was explicitly defined, use it as is
- if the column name contains lowercase and capitals, don't parse friendly names to the all capitals text (likely to be an acronym)

@camsaul please update this issue to feature r

[2017-11-06 01:46] camsaul commented on #6265
Hi @M4zD4i, we don't currently treat them any differently, but the original thinking was that eventually we'd do something like what you're describing, such as showing previews of images.

[2017-11-06 01:48] camsaul commented on #6249
@senior that was a bug with leiningen 2.8.0 and upgrading to 2.8.1 fixed it for me

[2017-11-06 01:51] camsaul commented on #6200
@gitsh84 does upgrading to 0.26.2 fix the issue for you?

[2017-11-06 01:56] camsaul commented on #5680
Can this be closed now? If not, what's left to do?

[2017-11-06 02:00] camsaul commented on #5685
@epervago @doodlebro are you still seeing this issue? I reworked all of our sync code for 0.26.0 so hopefully it's not still an issue in the new code.

[2017-11-06 02:01] epervago commented on #5685
Doesn’t seem to be an issue anymore. Thanks!

From: Cam Saul [mailto:notifications@github.com]
Sent: Sunday, November 5, 2017 8:00 PM
To: metabase/metabase <metabase@noreply.github.com>
Cc: epervago <evgeny@listo.mx>; Mention <mention@noreply.github.com>
Subject: Re: [metabase/metabase] Sync not running on PostgreSQL (0.25.1) (#5685)

@epervago <https://github.com/epervago>  @doodlebro <https://gi

[2017-11-06 02:02] camsaul commented on #6075
@lesiki I'm glad you were able to figure out the issue. I'm going to ahead and close this out. Let us know if you run into anything else. Thanks 👍

[2017-11-06 02:02] #6075 closed

[2017-11-06 02:02] camsaul commented on #5685
@epervago Good to know! I'm going to go ahead and close this out. Please let us know if you run into any other issues.

[2017-11-06 02:02] #5685 closed

[2017-11-06 02:04] camsaul commented on #6263
@sowmyaaguptaa @MarkRx  that error message is a known issue but won't affect anything so you can safely ignore it. I'm going to go ahead and close this out since it sounds like the issue was resolved. Feel free to open a new issue if you run into any further trouble.

[2017-11-06 02:04] #6263 closed

[2017-11-06 02:07] camsaul commented on #3746
@salsakran, yes, this is still an issue. I reproduced it a few months ago and accidentally opened a duplicate issue, #5275

[2017-11-06 02:07] camsaul commented on #5275
This is actually a duplicate of #3746

[2017-11-06 02:07] #5275 closed

[2017-11-06 02:10] camsaul commented on #4396
@kenny-evitt we ended up merging the SQL Server JDBC driver swap and shipped it as part of 0.26.0. Are you still seeing this issue on the latest version of Metabase?

[2017-11-06 02:16] camsaul commented on #5299
@salsakran "Is Empty" in the Query Builder creates a query with an `:is-null` clause, and the resulting query does in fact filter against values that are not null. So there's a mismatch between what the label says and the query it results in. We either need to change the label to match what it does or change what happens under the hood and produce queries in line with what it suggests it will do

[2017-11-06 02:16] camsaul commented on #4756
Are we still running into this issue?

[2017-11-06 02:17] camsaul commented on #4619
@deathbob, since we haven't heard back I'm going to go ahead and close out this issue. Please let me know if you are in fact still seeing this. Thanks!

[2017-11-06 02:17] #4619 closed

[2017-11-06 03:28] #6306 closed

[2017-11-06 05:45] #4459 closed

[2017-11-06 06:01] qianqingchen opened #6331 "CUSTOM FIELDS do not support "case when""
hi

when i user metabase, i find custom fields just 'A - B'

when i use "case when A = 'a' then 'a1' end"

it's wrong

![image](https://user-images.githubusercontent.com/18594020/32427350-ef21c500-c2fa-11e7-8edd-2b2314eb030b.png)

can we support this?

⬇️  **Please click the 👍 reaction instead of leaving a `+1` or 👍  comment**

[2017-11-06 06:18] qianqingchen opened #6332 "support column alias"
hi

metabase cannot support column alias

when i query an question

the result is
![image](https://user-images.githubusercontent.com/18594020/32427793-455bd72e-c2fd-11e7-8d78-073e60da125e.png)

but i want result like this

![image](https://user-images.githubusercontent.com/18594020/32427562-086374d6-c2fc-11e7-8d8f-e29727e15576.png)

i need chinease column names, not english column names

can suppo

[2017-11-06 06:22] qianqingchen opened #6333 "columns access"
actually, when use bi,   Some people are not allowed to  access some columns.

can support this?

[2017-11-06 08:00] dragonghy commented on #3103
+1!

[2017-11-06 08:04] mvrabel commented on #5299
@camsaul Could you add new field in to dropdown menu "is null" ?

[2017-11-06 09:55] mephiroth commented on #5509
i want to make integration with presto in metabase , but i dont konw  how to fill database name in the blank,could you help me ?

[2017-11-06 11:33] nicolinux commented on #2608
I have the same problem with Chrome and Metabase 0.26.1.

[2017-11-06 13:13] MarkRx commented on #6321
Hmm. So I'll prefix this with the statement that I don't know clojure but isn't that already handled by the oracle driver here? https://github.com/metabase/metabase/blob/master/src/metabase/driver/oracle.clj#L204. From what I can tell there seems to be some internal DSL that is translated into SQL by these metabase drivers. I couldn't find raw SQL that was using limit directly in the src directory

[2017-11-06 13:54] philippks opened #6334 ""Not found" when using locked date range filter with embedded dashboards"
Hello everybody

I can't use dashboard filter parameters with the type "Date Range", when embedding a dashboard. It simply returns "Not Found":
![image](https://user-images.githubusercontent.com/8806985/32443706-40653230-c300-11e7-9cb9-8a17a2a09dde.png)

I reproduced this issue on a clean installation (version 2.26.2), started with docker
[code]

Afterwards I created a question, e.g. the a count o

[2017-11-06 14:43] stelio commented on #4796
@mazameli yes, agreed a dupe. How do we move this passed proposal?

[2017-11-06 15:58] TahriT opened #6335 "Dashboard UI Element Thats Links To Other Dashboards | Visual Map Dashboard | Feature Request"
Hello Metabase Team,
I have a feature request that could be beneficial to a lot of people in manufacturing.

tldr;
A dashboard UI element that can link to the other dashboards. With the possibility of a color state.

**Preface:**
At my job we have a large number of machine which push data to a database. Metabase works great in handing all the data and dashboards look amazing! However there is one

[2017-11-06 16:17] kenny-evitt commented on #4396
@camsaul I tried this out somewhat recently but I could never get it working. I tried every combination for every name that could be domain-qualified.

I tried again just now, running the 0.26.0.RC1 version and it seems to be much more of a reasonable failure!

Here's what I've entered for the connection in Metabase:

 - Host – just the regular host name of the SQL Server server
 - Port – blank (s

[2017-11-06 16:22] kenny-evitt commented on #4396
I added `trustServerCertificate=true` to the _Additional JDBC connection string options_ setting, and that seems to have resolved the SSL certificate error. But I still got the `Login failed ...` error message logged in the console. I even tried entering my password in _Database password_, but to no avail.

[2017-11-06 17:48] sashankQ opened #6336 "Sorting issue"
I am using Query builder for generating reports on Google Analytics. When I try to add a sort field, I see only Groupby field or dimension field that can be added to sort list. But Can not see any metric fields under sort list.
I can manipulate it using a native query, But when I use the native query, I have filtering issues in case of the dashboard.
Can you guys please provide any solution for su

[2017-11-06 18:17] camsaul commented on #3103
Hey everyone, one way we prioritize issues is by sorting them by the number of 👍 reactions on each issue's description. So instead of leaving `+1` or 👍  comments, please just upvote by adding a reaction to the issue description.

[2017-11-06 18:40] camsaul commented on #6321
The Metabase drivers only handle the sorts of custom queries you create in the GUI. We don't use them for internal queries against the application database because the use cases are so different.

[2017-11-06 18:53] mazameli commented on #1689
@hai-ld yeah, you're right: we should make the text in the UI clearer about this. I'll see what I can do.

If you're trying to keep other users from accessing those sensitive columns via the SQL/native query editor, one thing you can do is restrict access to the SQL editor for their user group in the Admin Panel.

[2017-11-06 18:57] mazameli opened #6338 "We should clarify in the UI that hiding tables/columns doesn't apply to native/SQL queries"
This was brought up in #1689 a while ago, but in the Admin Panel's UI, we should clarify that when you mark a field's visibility to `Do not include` or mark a table as `Hidden` that those settings do not apply for native/SQL queries.

Either that, or we should have that conversation about parsing SQL again…

:arrow_down: Please click the :+1: reaction instead of leaving a `+1` or `update?` comment

[2017-11-06 19:02] camsaul commented on #6338
*Parsing SQL, Mongo, and Druid native queries 😳

[2017-11-06 21:17] hagen commented on #6184
Yeh! I was just thinking a stored proc/trigger is the way to go.

[2017-11-06 21:17] hagen commented on #6184
Yeh! I was just thinking a stored proc/trigger is the way to go.

[2017-11-06 22:10] mazameli commented on #4796
Closing this as a duplicate of #3035

@stelio there are a number of dashboard widgets like this one that we on the core Metabase team are intending to add. We'll be looking at all of our priorities and seeing where this proposal fits in.

[2017-11-06 22:10] #4796 closed

[2017-11-06 23:17] satishvarmadandu commented on #6261
would this alerts feature can be part of 0.27 release (atleast with partial feature set) ?

[2017-11-06 23:37] mazameli commented on #6261
@satishvarmadandu that's the plan!

[2017-11-06 23:46] camsaul commented on #5458
Sounds like a duplicate of #4802 ?

[2017-11-06 23:50] camsaul commented on #3401
As far as I can tell this is no longer an issue. Since we haven't heard back in over a year I'm going to go ahead and close this out. @Gurado feel free to open a new issue if you're still seeing this.

[2017-11-06 23:50] #3401 closed

[2017-11-06 23:58] camsaul commented on #5629
Yeah, this is the same issue as #4245. Closing as a duplicate since that one has a lot more activity

[2017-11-06 23:58] #5629 closed

[2017-11-07 00:16] satishvarmadandu commented on #6261
@mazameli thats great to hear. So any ETA on 0.27 timelines ? I didn't see this in 0.27 release list so enquired about. But Metabase looks great and would like to try this & alerts would be a major deal breaker for us. Currently we use Elastic's watcher for this capability

[2017-11-07 00:19] mazameli commented on #6261
@satishvarmadandu I can safely say 0.27 will be out in November.

[2017-11-07 00:35] satishvarmadandu commented on #6261
Great. Thanks @mazameli.

[2017-11-07 01:26] #5886 closed

[2017-11-07 07:16] zongwenquan commented on #6334
**me too！**
but i do not think this case  is caused by "Locked" or "Editable", as i‘ve tried both of them;

**My case is：**
I m a Chinese guy, so i edit the filter with "Chinese language";
when i input "炎", **it works**;    "Locked" and "Editable" all worked;
when i input "菌", it shows "**Not found**", I debug the browser, it shows "the iframe url 404!"
and i've checked my mysql language, it’s rig

[2017-11-07 10:25] danvanwijk commented on #6146
Use at your own risk :)
Works for us to clean up all unused fields, field values and tables.

[code]

[2017-11-07 11:01] spinsch commented on #5961
I had the same issue with our Metabase and MySQL server.

After changing the validation query to "Select 1", the instance works stable:

1. Goto https://your-metabase.local/admin/databases
2. Select your database
3. Set additional JDBC connection string options: `validationQuery="select 1"` and save

[2017-11-07 16:30] benjR opened #6343 "Loading a GeoJson file makes the browser crash"
Hi there!

Tried to add a GeoJson file for french cities (found here https://raw.githubusercontent.com/gregoiredavid/france-geojson/master/communes.geojson) but whenever I try to add it to metabase my browser hangs, sometimes I have the "page not responding" popup, sometimes the tab crashes.
The file weights 19Mb so maybe too heavy ? If it's the case would be better to prevent adding it in the fir

[2017-11-07 19:04] esaiekuitche opened #6344 "clause Or in query"
Hi everyone,

I'm using metabase to visualize my mongo database.

How can I make a query with a **Or clause**?

I try to write without success in SQL mode.

Let suppose I what to find persons in collection person which name is "John" or "Paul"?

Can you give an example?

Thank very much

[2017-11-07 19:37] mazameli commented on #6344
Duplicate of #5870

[2017-11-07 19:37] #6344 closed

[2017-11-07 20:23] esaiekuitche opened #6347 "aggregation result exceeds maximum document size (16MB)"
Hi
How can I handle with this error?

There was a problem with your question
Most of the time this is caused by an invalid selection or bad input value. Double check your inputs and retry your query.
`
Show error details
Here's the full error message
Command failed with error 16389: 'aggregation result exceeds maximum document size (16MB)' on server 127.0.0.1:27017. The full response is { "ok" : 0

[2017-11-07 23:28] suhair commented on #6186
Any solutions?

[2017-11-07 23:36] kdoh commented on #6347
@esaiekuitche Mind giving us more information like your Metabase version, your database, and other information [we ask for in the issue template](https://github.com/metabase/metabase/blob/master/.github/ISSUE_TEMPLATE.md#bugs)?

[2017-11-08 00:27] RebekahHsieh opened #6349 "Date filters via variable vs static string result in different results."
### Bugs
Date variables are filtering out data for an unknown reason. The easy example we ran was to run a query of users who joined after a date. If you run the query via a filter at string (i.e. join_date > '2017-10-01') vs a filter using a variable (i.e. join_date > {{joinday}} where we define {{joinday}} = '2017-10-01'), it gives different # of users.

- Your browser and the version: Happens a

[2017-11-08 03:35] hagen commented on #6184
Left the issue open as I think 'user-joins' activities need to be restricted by group - if the new user is not in your Group, you shouldn't see them joining in your activity feed.

[2017-11-08 09:22] philde commented on #6056
Same problem over here ... want to try metabase but the connection to SQL Server with Domain credentials DOMAIN\USERNAME is not working.

[2017-11-08 11:54] B-Stefan commented on #2947
Still occurs in version 0.26.2

[2017-11-08 12:03] nicwells commented on #2187
Still not working for me in Chrome 61.0.3163.100 (Official Build) (64-bit) (cohort: Stable) on Windows 7, Metabase v0.26.2

When editing a dashboard, all I can do is resize cards. I cannot edit cards in any other way including deleting them, nothing appears to happen.

[2017-11-08 13:08] MarkRx commented on #6321
I see. I'll leave this open as a stretch goal feature request. In the mean time I'll just setup another sql database flavor that can be used to back the metabase application itself.

[2017-11-08 14:23] redraw opened #6350 "No suitable driver found for jdbc:redshift"
I recently upgraded to the latest Metabase version (0.26.2), using Docker. I stopped and removed my running container, pull the new docker image (`docker pull metabase`), and started a new container with,
[code]

Everything was preserved, but Amazon Redshift database doesn't seem to work. i.e when saving settings in Admin Panel -> Databases -> [our Redshift DB], it throws
[code]

I tried changing

[2017-11-08 15:33] esaiekuitche commented on #6347
Sorry for missing these informations @kdoh ,

My Metabase version is  v0.26.1,
And MongoDB version is v3.2.12,
I running these two tools on ubuntu 14.

Thank you for your help.

[2017-11-08 16:45] esaiekuitche opened #6351 "SQL Metabase MongoDB, clause contains in query"
I'm trying to write a SQL query to my MongoDB through Metabase, and It didn't work.

This what I'm writing:
`[{"$project":{"full_article_text":"$full_article_text"}},{"$contains" : {"full_article_text" : "USA"}},{"$project":{"full_article_text":"$full_article_text",}},{"$limit":2000}] `

I'm looking for all full_article_text which contains a word USA.

Please, can you help me?

My Metabase version

[2017-11-08 16:51] ssilberman commented on #2608
Hi, same problem here! Chrome version 62.0.3202.89 (Build oficial) (64 bits) and Metabase 0.26.2

[2017-11-08 17:58] maltobelli commented on #6056
We had to setup Kerberos on the server before we were able to connect with Domain Credentials.

Following Microsofts Guides :
https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-active-directory-authentication
https://docs.microsoft.com/en-us/sql/connect/jdbc/using-kerberos-integrated-authentication-to-connect-to-sql-server

After Kerberos was working from the first guide, the important pa

[2017-11-08 18:07] paulozip commented on #3653
Me too

[2017-11-08 18:15] camsaul commented on #6351
Hi @esaiekuitche, the Metabase repo isn't really a good place to ask questions about how to write MongoDB Aggregation Pipeline queries because they're part of the MongoDB project, not Metabase. Take a look at [their documentation](https://docs.mongodb.com/manual/core/aggregation-pipeline/).

[2017-11-08 18:15] #6351 closed

[2017-11-08 18:58] nickhamlin commented on #798
Thanks @mazameli! This is great.  We finally got a chance to upgrade to the latest version today (0.26.2).  I went to test this out, but I'm not getting the bin options to appear.  I've checked that the field is set as a number in the schema and I'm using the bar visualization.  Is there anything in particular I need to do to enable this functionality?  Screenshot is here:

![image](https://user-i

[2017-11-08 18:58] jornh commented on #6350
Hit the same problem with the Redshift driver. We finally found out that it was due to mapping to the `/tmp` folder similar to what you have above in your docker run command. The reason seemed to be that with the Redshift driver apparently some `hsperfdata` files will be written to `/tmp`.

Try moving to a volume mapping location similar to what the install guide suggests under https://metabase.co

[2017-11-08 19:06] salsakran opened #6352 "Public links are broken in master"
I get the following error

![screen shot 2017-11-08 at 11 05 25 am](https://user-images.githubusercontent.com/107439/32569005-bf869f20-c474-11e7-8168-06eed57993a2.png)

⬇️  **Please click the 👍 reaction instead of leaving a `+1` or 👍  comment**

[2017-11-08 19:58] dkemmet opened #6353 "LDAP Appears to be working however, Domain Accounts do not work."
### FORM
- Your browser and the version: **Chrome Version 62.0.3202.75 (Official Build) (64-bit) &  Firefox 56.0 (64-bit)**
- Your operating system: **Fedora Workstation, Latest**
- Your databases: **SQLITE3**
- Metabase version: **v0.26.2**
- Metabase hosting environment: **CentOS 7 and java**
- Metabase internal database: **H2**

- *Repeatable steps to reproduce the issue*
1. Sign in as local us

[2017-11-08 20:33] redraw commented on #6350
That was it, thanks!!

[2017-11-08 20:33] #6350 closed

[2017-11-08 21:24] jornh commented on #6056
Great find and explanation @maltobelli including the extra details that you’re on Linux

I guess this means https://github.com/metabase/metabase/blob/master/bin/docker/Dockerfile needs updating to include Kerberos and some mechanism to point to a `krb.conf` to resolve the issue for OP’s environment. Here’s a Dockerfile for another java and apk image based tool that already supports Kerberos: https

[2017-11-08 22:58] dkemmet commented on #6353
It appears the Deafault user filter was not correct for our environment. If it makes a difference, the correct string was "(&(objectCategory=Person)(mail={login}))" which is a pretty basic query. Cheers!

[2017-11-08 22:58] #6353 closed

[2017-11-09 05:06] hey-jude opened #6354 "Bugs - Repeated warning messages on metabase.log"
- My databases: Redshift
- Metabase version: 0.26.2
- Metabase hosting environment: Ubuntu 14.04 on EC2
- Metabase internal database: H2 (default)

Repeatable steps to reproduce the issue
: On every hours, log messages are produced as below.

I think that problem is about time zone.
( KST means Asia/Seoul. )

[code]

[2017-11-09 07:49] nutteen opened #6355 "Can't login via Chrome in iOS (iPhone)"
Chrome version: 62.0 last updated on 27 of oct in iPhone 7.

To reproduce:
 1. Go to the first page of app from chrome
 2. Enter username and password so signin button show up
 3. click sign in, this leads to nothing.

Try over and over again I can never login.

However it works in Safari application.

[2017-11-09 09:52] benjR commented on #6320
+1
Variables are not accessible when dealing with native queries

[2017-11-09 10:04] benjR commented on #4835
Looks similar to #3251

[2017-11-09 11:13] andyxsv5 commented on #2783
using api can delete anything

services.CardApi.delete({cardId:xx})

[2017-11-09 11:18] andyxsv5 commented on #855
@joshuashort just upgrade moment.js to 2.19.1 in package.json
[code]

[2017-11-09 16:49] gitsh84 opened #6357 "Missing old version on S3 bucket"
I am trying to make a change in my environment which was installed some time ago with version 0.25.1
Every time it fails with:

"Unable to download from S3 location (Bucket: downloads.metabase.com Key: v0.25.1/metabase-aws-eb.zip). Reason: The specified key does not exist. (Service: Amazon S3; Status Code: 404; Error Code: NoSuchKey; "

Which makes sense as the version package is not there anymore

[2017-11-09 16:55] moumny commented on #6290
Just need to set the timestamp as not entity key but "no special type".
I guess we should make the driver not make the timestamp as primary eky

[2017-11-09 18:43] camsaul commented on #5680
@salsakran what's left to do here? Anything actionable? I'll tackle it if there is

[2017-11-09 18:57] camsaul commented on #6357
Hi @gitsh84, good catch. That file was deleted accidentally. I restored it so try it again and things should work.

[2017-11-09 20:14] peterwilli opened #6358 "Can we use display names for native queries?"
Currently if you convert a Metabase query to a native query, the column names change to their respective variable names (at least with MongoDB). Is there a way to make sure I can use display names rather than variable names? Thanks!

[2017-11-09 23:46] gitsh84 commented on #6357
@camsaul thanks !

[2017-11-09 23:47] #6357 closed

[2017-11-10 01:17] mazameli opened #6360 "Free-text markdown boxes in dashboards"
As described in issues #3221, #6048, and probably others, it would be really useful to have the ability to create free-text fields, and even better if markdown formatting is allowed. Here's a proposal for how this feature could work.

## Basic create and edit flow

When a dashboard is in Edit mode, there's now a button that allows the addition of a text box card:

![01 edit](https://user-images.gi

[2017-11-10 01:26] salsakran commented on #6360
totally random aside, but I think tables are probably more useful than code blocks =)

[2017-11-10 04:10] ThanhWilliamLe commented on #3653
me too

[2017-11-10 08:49] itafras opened #6361 "iframe resizer issue with require.ensure v0.27"
### Issue Description

Embed dashboards and questions are not working with the 0.27 version for me.  I have tested in several environments it returns the following errors:
[code]
[code]

On Chrome I can not see my dashboard when I enter the publish page (blank), on Firefox I can't even access the last publishing page (for application embedding).

The only way to bypass the issue for me was to remo

[2017-11-10 12:36] jlisyc commented on #6293
Hi,
could be interesting to pass in "Metabase admin panel --> Databases --> Additional JDBC connection string options", the option "currentSchema=myschema" to see just one schema. I tried out but it seems not working.
Thanks!

[2017-11-10 13:40] MaxiTalenti opened #6362 "ERROR valid-object-path"
[code]

- Your operating system: Windows 7
- Your databases: SQL Server
- Metabase version: 0.26.2
- Metabase hosting environment: Windows 7

**When i try to write a query, i can´t write te query, no appear the model database, etc.
I try deleting the database but the error persist**

![metabase1](https://user-images.githubusercontent.com/7159779/32660915-96d0e640-c603-11e7-886f-fd4e89257313.jpg)
!

[2017-11-10 13:57] bfritscher opened #6363 "Allow Custom Expression column to be used in a chart"
Hi, don't know if its a Bug or a missing feature?

When I use the graphical editor to make simulate the following query:
SELECT a, SUM(b) FROM ... GROUP BY a;
Chart widget works and shows me A, SUM as available columns

But when I use a Custom Expression to multiply by a scalar (to change chart direction)
SELECT a, SUM(b * -1) FROM ... GROUP BY a;

EDIT: However, I discovered that defining a new c

[2017-11-10 14:08] goodfella1408 opened #6364 "Support filters in questions on questions for fields from original question"
In questions on existing questions I would expect all the filters applicable on original question to be applicable on the question on question as well.
For eg I need a dashboard which shows - for a region ,  a list of users with zero activities .Region is required as a top level filter .
So in the original question I get count of activities grouped by user .
In the question on question - I get a l

[2017-11-10 18:27] salsakran commented on #6333
dupe of #1175

[2017-11-10 18:27] #6333 closed

[2017-11-10 18:37] salsakran commented on #6355
Can't reproduce this on an chrome 62.0 on an iphone 6s.

[2017-11-10 18:45] camsaul commented on #6293
Duplicate of #1498

[2017-11-10 18:45] #6293 closed

[2017-11-10 19:51] stephenlamb commented on #1509
Sorry guys. I got into other project and did not tryied until this afternoon. I follow the instructions, saved db2.cjl under driver folder, build the jar and... nothing appeared. What it could be?

![image](https://user-images.githubusercontent.com/19176251/32675924-cb14b6a2-c63f-11e7-901d-9fcc95eb2188.png)

[2017-11-10 20:40] joneath commented on #6360
Would updating the design of the dashboard header actions (Add a Question and Add Filter) be part of this feature work or would that occur in a separate PR before or after this text card feature request?

[2017-11-10 20:44] mazameli commented on #6360
@joneath yeah, was just going to call that out. That currently is part of #6291 ("entity menus"). So for the sake of this feature, you can ignore that aspect of the design. Until the entity menus are implemented, we'll need to add a new icon button while in edit mode to allow for adding a text box, though, so I'll quickly come up with an interim solution for that.

[2017-11-10 22:14] mazameli commented on #6360
I think this would work in the interim. The `Aa` icon is called `string` in the codebase. I reordered the icon buttons to make them make a bit more sense; I'm assuming that's a trivial change.

![temporary-fix](https://user-images.githubusercontent.com/2223916/32678614-f0a586f8-c617-11e7-8535-131341a870e8.png)

Hover and tooltip:

![temporary-fix-hover](https://user-images.githubusercontent.com/22

[2017-11-11 01:40] camsaul commented on #6354
@senior any idea why Redshift would be including the timezone in the date string? It looks like the date-formatter is expecting a format of `yyyy-MM-dd HH:mm:ss.SSS` for Redshift but for whatever reason it's trying to parse a string that has a timezone at the end

[2017-11-11 01:45] camsaul commented on #798
@salsakran @senior was this implemented by PRs #5331/#5342?

[2017-11-11 01:52] camsaul commented on #1954
It sounds like this is a bug with Thunderbird, not Metabase, right? Although I'm not sure at this rate it's going to get fixed any time soon, it looks like [it's been open 17 years](https://bugzilla.mozilla.org/show_bug.cgi?id=61815) 😳

[2017-11-11 01:54] camsaul commented on #1936
I did play around with this a couple years ago and it was too hard to get it to work with Clojure so I'm going to go ahead and close this out.

[2017-11-11 01:54] #1936 closed

[2017-11-11 01:55] camsaul commented on #1937
I tried this when Clojure 1.8 came out and ran into all sorts of problems so going to go ahead and close this since the tiny perf benefits we'd git aren't worth pulling our hair out trying to get it to work

[2017-11-11 01:56] camsaul commented on #1786
They're actually no longer missing Metadata as of #4003 so going to go ahead and close my issue for this

[2017-11-11 01:56] #1786 closed

[2017-11-11 01:57] camsaul commented on #2186
@rodjager try the latest Metabase Mac App, we fixed a lot of the issues where it crashed on launch

[2017-11-11 01:57] #2186 closed

[2017-11-11 02:02] camsaul commented on #2893
We have long since made sure to set PermGen options for Java 7 and documented that in the troubleshooting guide so I'm going to go ahead and close this out

[2017-11-11 02:02] #2893 closed

[2017-11-11 02:07] camsaul commented on #2912
Oh yeah so I actually ended up removing these in #3319.

RIP "A high or low-cardinality numerical string value that is meant to be used as a grouping."

[2017-11-11 02:07] #2912 closed

[2017-11-11 02:11] camsaul commented on #2960
This was fixed by #6116 but I forgot to close it

[2017-11-11 02:11] #2960 closed

[2017-11-11 02:12] camsaul commented on #5870
Duplicate of #3217.

@mazameli I'll copy over your designs to that issue

[2017-11-11 02:12] #5870 closed

[2017-11-11 02:13] camsaul commented on #3217
The following are designs by @mazameli from duplicate issue #5870. Everything past this point is a cut-and-paste of his comment

# Designs

I've thought about this a little, and here's one way that I think this could work:
1. The filter popover menu doesn't change at all.
2. When each filter after the first is added, it defaults to ANDs in between, as this is the existing (invisible) behavior.
3.

[2017-11-11 02:14] camsaul commented on #6361
Duplicate of #6352

[2017-11-11 02:14] #6361 closed

[2017-11-11 02:15] camsaul commented on #6145
Hi @DmitriyPavluchenko, we're adding support for various DBs based on community demand. Since you're the only person who's asked for Redis thus far, that might be a while 😉

If you're familiar with Clojure and feeling adventurous you can try [writing a driver yourself](https://github.com/metabase/metabase/wiki/Writing-A-Driver). A few of our drivers (Presto, Vertica and Crate) were contributed by

[2017-11-11 02:18] camsaul commented on #6057
Hi @gajus, we use GitHub Issues primarily for tracking product bugs and features, so the best place to ask questions like these is probably our [Discourse discussion forum](https://discourse.metabase.com/).

[2017-11-11 02:18] #6057 closed

[2017-11-11 02:22] camsaul commented on #6167
Good catch @kgeis. This link has been fixed at some point in the last few weeks.

[2017-11-11 02:22] #6167 closed